// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
Flink Compute Pool Management API

This is the Flink Compute Pool management API.

API version: 0.0.1
Contact: ksql-team@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type IdentityPoolEnvRegionBindingsFcpmV2Api interface {

	/*
	CreateFcpmV2IdentityPoolEnvRegionBinding Create an Identity Pool Env Region Binding

	[![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Make a request to create an identity pool env region binding.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @return ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest
	*/
	CreateFcpmV2IdentityPoolEnvRegionBinding(ctx _context.Context) ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest

	// CreateFcpmV2IdentityPoolEnvRegionBindingExecute executes the request
	//  @return FcpmV2IdentityPoolEnvRegionBinding
	CreateFcpmV2IdentityPoolEnvRegionBindingExecute(r ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest) (FcpmV2IdentityPoolEnvRegionBinding, *_nethttp.Response, error)

	/*
	DeleteFcpmV2IdentityPoolEnvRegionBinding Delete an Identity Pool Env Region Binding

	[![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Make a request to delete an identity pool env region binding.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param id The unique identifier for the identity pool env region binding.
	 @return ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest
	*/
	DeleteFcpmV2IdentityPoolEnvRegionBinding(ctx _context.Context, id string) ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest

	// DeleteFcpmV2IdentityPoolEnvRegionBindingExecute executes the request
	DeleteFcpmV2IdentityPoolEnvRegionBindingExecute(r ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest) (*_nethttp.Response, error)

	/*
	ListFcpmV2IdentityPoolEnvRegionBindings List of Identity Pool Env Region Bindings

	[![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Retrieve a sorted, filtered, paginated list of all identity pool env region bindings.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @return ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest
	*/
	ListFcpmV2IdentityPoolEnvRegionBindings(ctx _context.Context) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest

	// ListFcpmV2IdentityPoolEnvRegionBindingsExecute executes the request
	//  @return FcpmV2IdentityPoolEnvRegionBindingList
	ListFcpmV2IdentityPoolEnvRegionBindingsExecute(r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) (FcpmV2IdentityPoolEnvRegionBindingList, *_nethttp.Response, error)
}

// IdentityPoolEnvRegionBindingsFcpmV2ApiService IdentityPoolEnvRegionBindingsFcpmV2Api service
type IdentityPoolEnvRegionBindingsFcpmV2ApiService service

type ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest struct {
	ctx _context.Context
	ApiService IdentityPoolEnvRegionBindingsFcpmV2Api
	environment *string
	identityPool *string
	fcpmV2IdentityPoolEnvRegionBinding *FcpmV2IdentityPoolEnvRegionBinding
}

// Scope the operation to the given environment.
func (r ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest) Environment(environment string) ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest {
	r.environment = &environment
	return r
}
// Scope the operation to the given identity_pool.
func (r ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest) IdentityPool(identityPool string) ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest {
	r.identityPool = &identityPool
	return r
}
func (r ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest) FcpmV2IdentityPoolEnvRegionBinding(fcpmV2IdentityPoolEnvRegionBinding FcpmV2IdentityPoolEnvRegionBinding) ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest {
	r.fcpmV2IdentityPoolEnvRegionBinding = &fcpmV2IdentityPoolEnvRegionBinding
	return r
}

func (r ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest) Execute() (FcpmV2IdentityPoolEnvRegionBinding, *_nethttp.Response, error) {
	return r.ApiService.CreateFcpmV2IdentityPoolEnvRegionBindingExecute(r)
}

/*
CreateFcpmV2IdentityPoolEnvRegionBinding Create an Identity Pool Env Region Binding

[![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Make a request to create an identity pool env region binding.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest
*/
func (a *IdentityPoolEnvRegionBindingsFcpmV2ApiService) CreateFcpmV2IdentityPoolEnvRegionBinding(ctx _context.Context) ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest {
	return ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FcpmV2IdentityPoolEnvRegionBinding
func (a *IdentityPoolEnvRegionBindingsFcpmV2ApiService) CreateFcpmV2IdentityPoolEnvRegionBindingExecute(r ApiCreateFcpmV2IdentityPoolEnvRegionBindingRequest) (FcpmV2IdentityPoolEnvRegionBinding, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  FcpmV2IdentityPoolEnvRegionBinding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityPoolEnvRegionBindingsFcpmV2ApiService.CreateFcpmV2IdentityPoolEnvRegionBinding")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fcpm/v2/identity-pool-env-region-bindings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.environment == nil {
		return localVarReturnValue, nil, reportError("environment is required and must be specified")
	}
	if r.identityPool == nil {
		return localVarReturnValue, nil, reportError("identityPool is required and must be specified")
	}

	localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	localVarQueryParams.Add("identity_pool", parameterToString(*r.identityPool, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.fcpmV2IdentityPoolEnvRegionBinding
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest struct {
	ctx _context.Context
	ApiService IdentityPoolEnvRegionBindingsFcpmV2Api
	environment *string
	identityPool *string
	id string
}

// Scope the operation to the given environment.
func (r ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest) Environment(environment string) ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest {
	r.environment = &environment
	return r
}
// Scope the operation to the given identity_pool.
func (r ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest) IdentityPool(identityPool string) ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest {
	r.identityPool = &identityPool
	return r
}

func (r ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeleteFcpmV2IdentityPoolEnvRegionBindingExecute(r)
}

/*
DeleteFcpmV2IdentityPoolEnvRegionBinding Delete an Identity Pool Env Region Binding

[![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Make a request to delete an identity pool env region binding.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The unique identifier for the identity pool env region binding.
 @return ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest
*/
func (a *IdentityPoolEnvRegionBindingsFcpmV2ApiService) DeleteFcpmV2IdentityPoolEnvRegionBinding(ctx _context.Context, id string) ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest {
	return ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *IdentityPoolEnvRegionBindingsFcpmV2ApiService) DeleteFcpmV2IdentityPoolEnvRegionBindingExecute(r ApiDeleteFcpmV2IdentityPoolEnvRegionBindingRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityPoolEnvRegionBindingsFcpmV2ApiService.DeleteFcpmV2IdentityPoolEnvRegionBinding")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fcpm/v2/identity-pool-env-region-bindings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.environment == nil {
		return nil, reportError("environment is required and must be specified")
	}
	if r.identityPool == nil {
		return nil, reportError("identityPool is required and must be specified")
	}

	localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	localVarQueryParams.Add("identity_pool", parameterToString(*r.identityPool, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest struct {
	ctx _context.Context
	ApiService IdentityPoolEnvRegionBindingsFcpmV2Api
	region *string
	environment *string
	identityPool *string
	pageSize *int32
	pageToken *string
}

// Filter the results by exact match for region.
func (r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) Region(region string) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest {
	r.region = &region
	return r
}
// Filter the results by exact match for environment.
func (r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) Environment(environment string) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest {
	r.environment = &environment
	return r
}
// Filter the results by exact match for identity_pool.
func (r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) IdentityPool(identityPool string) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest {
	r.identityPool = &identityPool
	return r
}
// A pagination size for collection requests.
func (r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) PageSize(pageSize int32) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest {
	r.pageSize = &pageSize
	return r
}
// An opaque pagination token for collection requests.
func (r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) PageToken(pageToken string) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) Execute() (FcpmV2IdentityPoolEnvRegionBindingList, *_nethttp.Response, error) {
	return r.ApiService.ListFcpmV2IdentityPoolEnvRegionBindingsExecute(r)
}

/*
ListFcpmV2IdentityPoolEnvRegionBindings List of Identity Pool Env Region Bindings

[![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Retrieve a sorted, filtered, paginated list of all identity pool env region bindings.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest
*/
func (a *IdentityPoolEnvRegionBindingsFcpmV2ApiService) ListFcpmV2IdentityPoolEnvRegionBindings(ctx _context.Context) ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest {
	return ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FcpmV2IdentityPoolEnvRegionBindingList
func (a *IdentityPoolEnvRegionBindingsFcpmV2ApiService) ListFcpmV2IdentityPoolEnvRegionBindingsExecute(r ApiListFcpmV2IdentityPoolEnvRegionBindingsRequest) (FcpmV2IdentityPoolEnvRegionBindingList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  FcpmV2IdentityPoolEnvRegionBindingList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityPoolEnvRegionBindingsFcpmV2ApiService.ListFcpmV2IdentityPoolEnvRegionBindings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fcpm/v2/identity-pool-env-region-bindings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.region == nil {
		return localVarReturnValue, nil, reportError("region is required and must be specified")
	}
	if r.environment == nil {
		return localVarReturnValue, nil, reportError("environment is required and must be specified")
	}
	if r.identityPool == nil {
		return localVarReturnValue, nil, reportError("identityPool is required and must be specified")
	}

	localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	localVarQueryParams.Add("identity_pool", parameterToString(*r.identityPool, ""))
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.pageToken != nil {
		localVarQueryParams.Add("page_token", parameterToString(*r.pageToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
