// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
Identity & Access Management API - Internal Structs

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.0.1-alpha0
Contact: paas-team@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

type AuthorizationsV2Api interface {

	/*
		AuthorizeV2Authorization Authorize an Authorization

		Make a request to authorize an authorization.

		 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		 @return ApiAuthorizeV2AuthorizationRequest
	*/
	AuthorizeV2Authorization(ctx _context.Context) ApiAuthorizeV2AuthorizationRequest

	// AuthorizeV2AuthorizationExecute executes the request
	//  @return IamV2AuthorizeResponse
	AuthorizeV2AuthorizationExecute(r ApiAuthorizeV2AuthorizationRequest) (IamV2AuthorizeResponse, *_nethttp.Response, error)
}

// AuthorizationsV2ApiService AuthorizationsV2Api service
type AuthorizationsV2ApiService service

type ApiAuthorizeV2AuthorizationRequest struct {
	ctx                   _context.Context
	ApiService            AuthorizationsV2Api
	iamV2AuthorizeRequest *IamV2AuthorizeRequest
}

func (r ApiAuthorizeV2AuthorizationRequest) IamV2AuthorizeRequest(iamV2AuthorizeRequest IamV2AuthorizeRequest) ApiAuthorizeV2AuthorizationRequest {
	r.iamV2AuthorizeRequest = &iamV2AuthorizeRequest
	return r
}

func (r ApiAuthorizeV2AuthorizationRequest) Execute() (IamV2AuthorizeResponse, *_nethttp.Response, error) {
	return r.ApiService.AuthorizeV2AuthorizationExecute(r)
}

/*
AuthorizeV2Authorization Authorize an Authorization

Make a request to authorize an authorization.

	@param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAuthorizeV2AuthorizationRequest
*/
func (a *AuthorizationsV2ApiService) AuthorizeV2Authorization(ctx _context.Context) ApiAuthorizeV2AuthorizationRequest {
	return ApiAuthorizeV2AuthorizationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamV2AuthorizeResponse
func (a *AuthorizationsV2ApiService) AuthorizeV2AuthorizationExecute(r ApiAuthorizeV2AuthorizationRequest) (IamV2AuthorizeResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IamV2AuthorizeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationsV2ApiService.AuthorizeV2Authorization")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/iam/v2/authorize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.iamV2AuthorizeRequest == nil {
		return localVarReturnValue, nil, reportError("iamV2AuthorizeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamV2AuthorizeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
