openapi: 3.0.0
info:
  contact:
    email: kafka-clients-proxy-team@confluent.io
    name: Kafka REST Team
    url: https://confluent.slack.com/app_redirect?channel=kafka-rest-eng
  title: REST Admin API
  version: 3.0.0
  x-api-id: 499e3476-71e0-4d6f-b4f9-6776cec6df27
  x-api-group: v3
  x-audience: external-public
  x-tag-group: Cluster Admin for Kafka (%s)
servers:
- description: Confluent Cloud REST Endpoint. For example https://pkc-00000.region.provider.confluent.cloud
  url: https://pkc-00000.region.provider.confluent.cloud
  x-audience: business-unit-internal
tags:
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: Cluster (v3)
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: Configs (v3)
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: ACL (v3)
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: Consumer Group (v3)
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: Partition (v3)
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: Topic (v3)
- description: '[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)'
  name: Cluster Linking (v3)
paths:
  /kafka/v3/clusters/{cluster_id}:
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns the Kafka cluster with the specified ``cluster_id``.
      operationId: getKafkaV3Cluster
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaCluster
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1
                  resource_name: crn:///kafka=cluster-1
                cluster_id: cluster-1
                controller:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/brokers/1
                acls:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/acls
                brokers:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/brokers
                broker_configs:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/broker-configs
                consumer_groups:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups
                topics:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/topics
                partition_reassignments:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/topics/-/partitions/-/reassignment
              schema:
                $ref: '#/components/schemas/ClusterData'
          description: The Kafka cluster.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Get Cluster
      tags:
      - Cluster (v3)
  /kafka/v3/clusters/{cluster_id}/acls:
    delete:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Deletes the list of ACLs that matches the search criteria.
      operationId: deleteKafkaV3Acls
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ACL resource type.
        explode: true
        in: query
        name: resource_type
        required: false
        schema:
          $ref: '#/components/schemas/AclResourceType'
        style: form
      - description: The ACL resource name.
        explode: true
        in: query
        name: resource_name
        required: false
        schema:
          type: string
        style: form
      - description: The ACL pattern type.
        explode: true
        in: query
        name: pattern_type
        required: false
        schema:
          $ref: '#/components/schemas/AclPatternType'
        style: form
      - description: The ACL principal.
        explode: true
        in: query
        name: principal
        required: false
        schema:
          type: string
        style: form
      - description: The ACL host.
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: The ACL operation.
        explode: true
        in: query
        name: operation
        required: false
        schema:
          $ref: '#/components/schemas/AclOperation'
        style: form
      - description: The ACL permission.
        explode: true
        in: query
        name: permission
        required: false
        schema:
          $ref: '#/components/schemas/AclPermission'
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - kind: KafkaAcl
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/acls?resource_type=TOPIC&resource_name=topic-&pattern_type=PREFIXED&principal=alice&host=*&operation=ALL&permission=ALLOW
                  cluster_id: cluster-1
                  resource_type: TOPIC
                  resource_name: topic-
                  pattern_type: PREFIXED
                  principal: alice
                  host: '*'
                  operation: ALL
                  permission: ALLOW
                - kind: KafkaAcl
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/acls?resource_type=CLUSTER&resource_name=cluster-1&pattern_type=LITERAL&principal=bob&host=*&operation=DESCRIBE&permission=DENY
                  cluster_id: cluster-1
                  resource_type: CLUSTER
                  resource_name: cluster-2
                  pattern_type: LITERAL
                  principal: alice
                  host: '*'
                  operation: DESCRIBE
                  permission: DENY
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: The list of deleted ACLs.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Delete ACLs
      tags:
      - ACL (v3)
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns a list of ACLs that match the search criteria.
      operationId: getKafkaV3Acls
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ACL resource type.
        explode: true
        in: query
        name: resource_type
        required: false
        schema:
          $ref: '#/components/schemas/AclResourceType'
        style: form
      - description: The ACL resource name.
        explode: true
        in: query
        name: resource_name
        required: false
        schema:
          type: string
        style: form
      - description: The ACL pattern type.
        explode: true
        in: query
        name: pattern_type
        required: false
        schema:
          $ref: '#/components/schemas/AclPatternType'
        style: form
      - description: The ACL principal.
        explode: true
        in: query
        name: principal
        required: false
        schema:
          type: string
        style: form
      - description: The ACL host.
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: The ACL operation.
        explode: true
        in: query
        name: operation
        required: false
        schema:
          $ref: '#/components/schemas/AclOperation'
        style: form
      - description: The ACL permission.
        explode: true
        in: query
        name: permission
        required: false
        schema:
          $ref: '#/components/schemas/AclPermission'
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaAclList
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/acls?principal=alice
                data:
                - kind: KafkaAcl
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/acls?resource_type=TOPIC&resource_name=topic-&pattern_type=PREFIXED&principal=alice&host=*&operation=ALL&permission=ALLOW
                  cluster_id: cluster-1
                  resource_type: TOPIC
                  resource_name: topic-
                  pattern_type: PREFIXED
                  principal: alice
                  host: '*'
                  operation: ALL
                  permission: ALLOW
                - kind: KafkaAcl
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/acls?resource_type=CLUSTER&resource_name=cluster-1&pattern_type=LITERAL&principal=bob&host=*&operation=DESCRIBE&permission=DENY
                  cluster_id: cluster-1
                  resource_type: CLUSTER
                  resource_name: cluster-2
                  pattern_type: LITERAL
                  principal: alice
                  host: '*'
                  operation: DESCRIBE
                  permission: DENY
              schema:
                $ref: '#/components/schemas/AclDataList'
          description: The list of ACLs.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Search ACLs
      tags:
      - ACL (v3)
    post:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Creates an ACL.
      operationId: createKafkaV3Acls
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateAclRequest'
      responses:
        "201":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Create ACLs
      tags:
      - ACL (v3)
  /kafka/v3/clusters/{cluster_id}/broker-configs:
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns a list of configuration parameters for the specified Kafka
        cluster.
      operationId: listKafkaV3ClusterConfigs
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaClusterConfigList
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/broker-configs
                  next: null
                data:
                - kind: KafkaClusterConfig
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/broker-configs/max.connections
                    resource_name: crn:///kafka=cluster-1/broker-config=max.connections
                  cluster_id: cluster-1
                  config_type: BROKER
                  name: max.connections
                  value: "1000"
                  is_default: false
                  is_read_only: false
                  is_sensitive: false
                  source: DYNAMIC_DEFAULT_BROKER_CONFIG
                  synonyms:
                  - name: max.connections
                    value: "1000"
                    source: DYNAMIC_DEFAULT_BROKER_CONFIG
                  - name: max.connections
                    value: "2147483647"
                    source: DEFAULT_CONFIG
                - kind: KafkaClusterConfig
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/broker-configs/compression.type
                    resource_name: crn:///kafka=cluster-1/broker-config=compression.type
                  cluster_id: cluster-1
                  config_type: BROKER
                  name: compression.type
                  value: gzip
                  is_default: false
                  is_read_only: false
                  is_sensitive: false
                  source: DYNAMIC_DEFAULT_BROKER_CONFIG
                  synonyms:
                  - name: compression.type
                    value: gzip
                    source: DYNAMIC_DEFAULT_BROKER_CONFIG
                  - name: compression.type
                    value: producer
                    source: DEFAULT_CONFIG
              schema:
                $ref: '#/components/schemas/ClusterConfigDataList'
          description: The list of cluster configs.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: List Cluster Configs
      tags:
      - Configs (v3)
  /kafka/v3/clusters/{cluster_id}/broker-configs:alter:
    post:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Updates or deletes a set of Kafka cluster configuration parameters.
      operationId: updateKafkaV3ClusterConfigs
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AlterClusterConfigBatchRequest'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Batch Alter Cluster Configs
      tags:
      - Configs (v3)
  /kafka/v3/clusters/{cluster_id}/broker-configs/{name}:
    delete:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Resets the configuration parameter specified by ``name`` to its
        default value.
      operationId: deleteKafkaV3ClusterConfig
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The configuration parameter name.
        example: compression.type
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Reset Cluster Config
      tags:
      - Configs (v3)
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns the configuration parameter specified by ``name``.
      operationId: getKafkaV3ClusterConfig
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The configuration parameter name.
        example: compression.type
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaClusterConfig
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/broker-configs/compression.type
                  resource_name: crn:///kafka=cluster-1/broker-config=compression.type
                cluster_id: cluster-1
                config_type: BROKER
                name: compression.type
                value: gzip
                is_default: false
                is_read_only: false
                is_sensitive: false
                source: DYNAMIC_DEFAULT_BROKER_CONFIG
                synonyms:
                - name: compression.type
                  value: gzip
                  source: DYNAMIC_DEFAULT_BROKER_CONFIG
                - name: compression.type
                  value: producer
                  source: DEFAULT_CONFIG
              schema:
                $ref: '#/components/schemas/ClusterConfigData'
          description: The cluster configuration parameter.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Get Cluster Config
      tags:
      - Configs (v3)
    put:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Updates the configuration parameter specified by ``name``.
      operationId: updateKafkaV3ClusterConfig
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The configuration parameter name.
        example: compression.type
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateClusterConfigRequest'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Update Cluster Config
      tags:
      - Configs (v3)
  /kafka/v3/clusters/{cluster_id}/consumer-groups:
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns the list of consumer groups that belong to the specified
        Kafka cluster.
      operationId: listKafkaV3ConsumerGroups
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaConsumerGroupList
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups
                  next: null
                data:
                - kind: KafkaConsumerGroup
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  is_simple: false
                  partition_assignor: org.apache.kafka.clients.consumer.RoundRobinAssignor
                  state: STABLE
                  coordinator:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/brokers/1
                  consumers:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers
                  lag_summary:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lag-summary
                - kind: KafkaConsumerGroup
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-2
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-2
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-2
                  is_simple: false
                  partition_assignor: org.apache.kafka.clients.consumer.StickyAssignor
                  state: PREPARING_REBALANCE
                  coordinator:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/brokers/2
                  consumers:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-2/consumers
                  lag_summary:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-2/lag-summary
                - kind: KafkaConsumerGroup
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-3
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-3
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-3
                  is_simple: false
                  partition_assignor: org.apache.kafka.clients.consumer.RangeAssignor
                  state: DEAD
                  coordinator:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/brokers/3
                  consumers:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-3/consumers
                  lag_summary:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-3/lag-summary
              schema:
                $ref: '#/components/schemas/ConsumerGroupDataList'
          description: The list of consumer groups.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: List Consumer Groups
      tags:
      - Consumer Group (v3)
  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}:
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns the consumer group specified by the ``consumer_group_id``.
      operationId: getKafkaV3ConsumerGroup
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The consumer group ID.
        example: consumer-group-1
        explode: false
        in: path
        name: consumer_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaConsumerGroup
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1
                  resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1
                cluster_id: cluster-1
                consumer_group_id: consumer-group-1
                is_simple: false
                partition_assignor: org.apache.kafka.clients.consumer.RoundRobinAssignor
                state: STABLE
                coordinator:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/brokers/1
                consumers:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers
                lag_summary:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lag-summary
              schema:
                $ref: '#/components/schemas/ConsumerGroupData'
          description: The consumer group.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Get Consumer Group
      tags:
      - Consumer Group (v3)
  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/consumers:
    get:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Returns a list of consumers that belong to the specified consumer
        group.
      operationId: listKafkaV3Consumers
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The consumer group ID.
        example: consumer-group-1
        explode: false
        in: path
        name: consumer_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaConsumerList
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers
                  next: null
                data:
                - kind: KafkaConsumer
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-1
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/consumer=consumer-1
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  consumer_id: consumer-1
                  instance_id: consumer-instance-1
                  client_id: client-1
                  assignments:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-1/assignments
                - kind: KafkaConsumer
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-2
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/consumer=consumer-2
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  consumer_id: consumer-2
                  instance_id: consumer-instance-2
                  client_id: client-2
                  assignments:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-2/assignments
                - kind: KafkaConsumer
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-2
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/consumer=consumer-2
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  consumer_id: consumer-2
                  instance_id: consumer-instance-2
                  client_id: client-2
                  assignments:
                    related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-2/assignments
              schema:
                $ref: '#/components/schemas/ConsumerDataList'
          description: The list of consumers.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: List Consumers
      tags:
      - Consumer Group (v3)
  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lag-summary:
    get:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Cluster Admin for Kafka (v3)](https://img.shields.io/badge/-Request%20Access%20To%20Cluster%20Admin%20For%20Kafka%20v3-%23bc8540)](mailto:ccloud-rest-api+consumer-lag-earlyaccess@confluent.io?subject=Request%20to%20join%20v3%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cluster%20Admin%20For%20Kafka%20v3%20Early%20Access%20to%20provide%20early%20feedback%20on%20consumer%20lag%20apis%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

        Returns the max and total lag of the consumers belonging to the
        specified consumer group.
      operationId: getKafkaV3ConsumerGroupLagSummary
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The consumer group ID.
        example: consumer-group-1
        explode: false
        in: path
        name: consumer_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaConsumerGroupLagSummary
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lag-summary
                  resource_name: crn:///kafka=cluster-1/consumer-groups=consumer-group-1/lag-summary
                cluster_id: cluster-1
                consumer_group_id: consumer-group-1
                max_lag_consumer_id: consumer-1
                max_lag_instance_id: consumer-instance-1
                max_lag_client_id: client-1
                max_lag_topic_name: topic-1
                max_lag_partition_id: 1
                max_lag: 100
                total_lag: 110
                max_lag_consumer:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/consumers/consumer-1
                max_lag_partition:
                  related: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/topics/topic-1/partitions/1
              schema:
                $ref: '#/components/schemas/ConsumerGroupLagSummaryData'
          description: The max and total consumer lag in a consumer group.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: Get Consumer Group Lag Summary.
      tags:
      - Consumer Group (v3)
      x-lifecycle-stage: Early Access
      x-request-access-name: Cluster Admin For Kafka v3
    x-lifecycle-stage: Early Access
    x-request-access-name: Cluster Admin For Kafka v3
  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lags:
    get:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Cluster Admin for Kafka (v3)](https://img.shields.io/badge/-Request%20Access%20To%20Cluster%20Admin%20For%20Kafka%20v3-%23bc8540)](mailto:ccloud-rest-api+consumer-lag-earlyaccess@confluent.io?subject=Request%20to%20join%20v3%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cluster%20Admin%20For%20Kafka%20v3%20Early%20Access%20to%20provide%20early%20feedback%20on%20consumer%20lag%20apis%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

        Returns a list of consumer lags of the consumers belonging to the
        specified consumer group.
      operationId: listKafkaV3ConsumerLags
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The consumer group ID.
        example: consumer-group-1
        explode: false
        in: path
        name: consumer_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaConsumerLagList
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lags
                  next: null
                data:
                - kind: KafkaConsumerLag
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lags/topic-1/partitions/1
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/lag=topic-1/partition=1
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  topic_name: topic-1
                  partition_id: 1
                  consumer_id: consumer-1
                  instance_id: consumer-instance-1
                  client_id: client-1
                  current_offset: 1
                  log_end_offset: 101
                  lag: 100
                - kind: KafkaConsumerLag
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lags/topic-1/partitions/2
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/lag=topic-1/partition=2
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  topic_name: topic-1
                  partition_id: 2
                  consumer_id: consumer-2
                  instance_id: consumer-instance-2
                  client_id: client-2
                  current_offset: 1
                  log_end_offset: 11
                  lag: 10
                - kind: KafkaConsumerLag
                  metadata:
                    self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lags/topic-1/partitions/3
                    resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/lag=topic-1/partition=3
                  cluster_id: cluster-1
                  consumer_group_id: consumer-group-1
                  topic_name: topic-1
                  partition_id: 3
                  consumer_id: consumer-3
                  instance_id: consumer-instance-3
                  client_id: client-3
                  current_offset: 1
                  log_end_offset: 1
                  lag: 0
              schema:
                $ref: '#/components/schemas/ConsumerLagDataList'
          description: The list of consumer lags.
        "400":
          content:
            application/json:
              examples:
                create_topic_already_exists:
                  description: Thrown when trying to create a topic with a name already
                    used by an existing topic.
                  value:
                    error_code: 40002
                    message: Topic 'my-topic' already exists.
                produce_message_badly_escaped:
                  description: Thrown when using unescaped single quotes within a
                    single-quote-delimited record.
                  value:
                    error_code: 400
                    message: |-
                      Unexpected character ('k' (code 107)): was expecting double-quote to start field name
                       at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 3]
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              example:
                description: Thrown when trying to create a topic and passing a string
                  for the replication factor.
                value: 'Cannot deserialize value of type `java.lang.Integer` from
                  String "all": not a valid Integer value\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream);
                  line: 1, column: 53] (through reference chain: io.confluent.kafkarest.entities.v3.CreateTopicRequest["partitions_count"])'
              schema:
                type: string
          description: Indicates a bad request error. It could be caused by an unexpected
            request body format or other forms of request validation failure. Usually
            serves application/json content, although in some cases simple text/plain
            content can be returned.
        "401":
          content:
            application/json:
              examples:
                kafka_authentication_failed:
                  description: Thrown when using Basic authentication with wrong Kafka
                    credentials.
                  value:
                    error_code: 40101
                    message: Authentication failed
              schema:
                $ref: '#/components/schemas/Error'
          description: Indicates a client authentication error. Kafka authentication
            failures will contain error code 40101 in the response body.
        "429":
          content:
            text/html:
              example:
                description: A sample response from Jetty's DoSFilter.
                value: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                  <title>Error 429 Too Many Requests</title> </head> <body> <h2>HTTP
                  ERROR 429 Too Many Requests</h2> <table> <tr> <th>URI:</th> <td>/v3/clusters/my-cluster</td>
                  </tr> <tr> <th>STATUS:</th> <td>429</td> </tr> <tr> <th>MESSAGE:</th>
                  <td>Too Many Requests</td> </tr> <tr> <th>SERVLET:</th> <td>default</td>
                  </tr> </table> </body> </html>
              schema:
                type: string
          description: Indicates that a rate limit threshold has been reached, and
            the client should retry again later.
        "5XX":
          content:
            application/json:
              examples:
                generic_internal_server_error:
                  description: Thrown for generic HTTP 500 errors.
                  value:
                    error_code: 500
                    message: Internal Server Error
                produce_v3_missing_schema:
                  description: Thrown when the specified schema cannot be fetched
                    from Schema Registry.
                  value:
                    error_code: 50002
                    message: Error when fetching latest schema version. subject =
                      my-topic
              schema:
                $ref: '#/components/schemas/Error'
          description: A server-side problem that might not be addressable from the
            client side. Retriable Kafka errors will contain error code 50003 in the
            response body.
      summary: List Consumer Lags
      tags:
      - Consumer Group (v3)
      x-lifecycle-stage: Early Access
      x-request-access-name: Cluster Admin For Kafka v3
    x-lifecycle-stage: Early Access
    x-request-access-name: Cluster Admin For Kafka v3
  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lags/{topic_name}/partitions/{partition_id}:
    get:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Cluster Admin for Kafka (v3)](https://img.shields.io/badge/-Request%20Access%20To%20Cluster%20Admin%20For%20Kafka%20v3-%23bc8540)](mailto:ccloud-rest-api+consumer-lag-earlyaccess@confluent.io?subject=Request%20to%20join%20v3%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cluster%20Admin%20For%20Kafka%20v3%20Early%20Access%20to%20provide%20early%20feedback%20on%20consumer%20lag%20apis%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

        Returns the consumer lag on a partition with the given `partition_id`.
      operationId: getKafkaV3ConsumerLag
      parameters:
      - description: The Kafka cluster ID.
        example: cluster-1
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The consumer group ID.
        example: consumer-group-1
        explode: false
        in: path
        name: consumer_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: The topic name.
        example: topic-1
        explode: false
        in: path
        name: topic_name
        required: true
        schema:
          type: string
        style: simple
      - description: The partition ID.
        example: 0
        explode: false
        in: path
        name: partition_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                kind: KafkaConsumerLag
                metadata:
                  self: https://pkc-00000.region.provider.confluent.cloud/kafka/v3/clusters/cluster-1/consumer-groups/consumer-group-1/lags/topic-1/partitions/1
                  resource_name: crn:///kafka=cluster-1/consumer-group=consumer-group-1/lag=topic-1/partition=1
                cluster_id: cluster-1
                consumer_group_id: consumer-group-1
                topic_name: topic-1
                partition_id: 1
                consumer_id: consumer-1
                instance_id: consumer-instance-1
[...]
