// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
Cloud Notifications API

Using Notifications API, you can manage notifications for account, billing and service events. Additionally, you can configure how you are notified for some of the notification types. By default, notifications are sent by email to the organization’s administrator or if using RBAC, a user with the `OrganizationAdmin` role. All other RBAC roles have read-only access to notifications.  For notifications, you should understand the following terms:  **Notification Type**: The type of notification based on the Confluent Cloud event that has occured. These are categorized by Account, Billing and Licensing, Service, and more, and they can be filtered by by severity level. For example, a dedicated cluster shrink failure is a warning-level service notification type.  **Integration**: Describes the configured notification channel for sending a notification event - Email, Microsoft Teams, Slack or a generic Webhook. The default integration is email, and notifications are sent to the organization’s admin or if using RBAC, a user with the `OrganizationAdmin` role.  **Subscription**: Represents the association of a notification type to an integration channel. A customer creates subscriptions for a particular notification type and as a result is notified through the integration channels they have configured for that subscription. By default, notifications are subscribed to an email integration and emails are sent to email addresses for organization admins associated with the account.  You can view the current notification subscriptions and configure additional integrations and subscriptions to those integrations using the REST APIs. For example, you can configure a Slack integration, and then subscribe to this integration for a Kafka cluster shrink failure. You can manage notifications for account, billing and service events with the REST APIs. Additionally you can configure how you are notified for some of the notification types. By default, notifications are sent by email to the organization’s administrator or if using RBAC, a user with the OrganizationAdmin role. All other RBAC roles have read-only access to notifications.

API version: 0.1.0
Contact: engagement-platform@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type NotificationTypesNotificationsV1Api interface {

	/*
			GetNotificationsV1NotificationType Read a Notification Type

			[![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

		Make a request to read a notification type.

			 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			 @param id The unique identifier for the notification type.
			 @return ApiGetNotificationsV1NotificationTypeRequest
	*/
	GetNotificationsV1NotificationType(ctx _context.Context, id string) ApiGetNotificationsV1NotificationTypeRequest

	// GetNotificationsV1NotificationTypeExecute executes the request
	//  @return NotificationsV1NotificationType
	GetNotificationsV1NotificationTypeExecute(r ApiGetNotificationsV1NotificationTypeRequest) (NotificationsV1NotificationType, *_nethttp.Response, error)

	/*
			ListNotificationsV1NotificationTypes Retrieve a list of all notification types for the resource type.

			[![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

		Make a request to list_by_resource_type a notification type.

			 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			 @return ApiListNotificationsV1NotificationTypesRequest
	*/
	ListNotificationsV1NotificationTypes(ctx _context.Context) ApiListNotificationsV1NotificationTypesRequest

	// ListNotificationsV1NotificationTypesExecute executes the request
	//  @return NotificationsV1NotificationTypeList
	ListNotificationsV1NotificationTypesExecute(r ApiListNotificationsV1NotificationTypesRequest) (NotificationsV1NotificationTypeList, *_nethttp.Response, error)
}

// NotificationTypesNotificationsV1ApiService NotificationTypesNotificationsV1Api service
type NotificationTypesNotificationsV1ApiService service

type ApiGetNotificationsV1NotificationTypeRequest struct {
	ctx        _context.Context
	ApiService NotificationTypesNotificationsV1Api
	id         string
}

func (r ApiGetNotificationsV1NotificationTypeRequest) Execute() (NotificationsV1NotificationType, *_nethttp.Response, error) {
	return r.ApiService.GetNotificationsV1NotificationTypeExecute(r)
}

/*
GetNotificationsV1NotificationType Read a Notification Type

[![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Make a request to read a notification type.

	@param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The unique identifier for the notification type.
	@return ApiGetNotificationsV1NotificationTypeRequest
*/
func (a *NotificationTypesNotificationsV1ApiService) GetNotificationsV1NotificationType(ctx _context.Context, id string) ApiGetNotificationsV1NotificationTypeRequest {
	return ApiGetNotificationsV1NotificationTypeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return NotificationsV1NotificationType
func (a *NotificationTypesNotificationsV1ApiService) GetNotificationsV1NotificationTypeExecute(r ApiGetNotificationsV1NotificationTypeRequest) (NotificationsV1NotificationType, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotificationsV1NotificationType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationTypesNotificationsV1ApiService.GetNotificationsV1NotificationType")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/notifications/v1/notification-types/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListNotificationsV1NotificationTypesRequest struct {
	ctx          _context.Context
	ApiService   NotificationTypesNotificationsV1Api
	resourceType *string
	pageSize     *int32
	pageToken    *string
}

// Confluent Cloud resource type
func (r ApiListNotificationsV1NotificationTypesRequest) ResourceType(resourceType string) ApiListNotificationsV1NotificationTypesRequest {
	r.resourceType = &resourceType
	return r
}

// A pagination size for collection requests.
func (r ApiListNotificationsV1NotificationTypesRequest) PageSize(pageSize int32) ApiListNotificationsV1NotificationTypesRequest {
	r.pageSize = &pageSize
	return r
}

// An opaque pagination token for collection requests.
func (r ApiListNotificationsV1NotificationTypesRequest) PageToken(pageToken string) ApiListNotificationsV1NotificationTypesRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiListNotificationsV1NotificationTypesRequest) Execute() (NotificationsV1NotificationTypeList, *_nethttp.Response, error) {
	return r.ApiService.ListNotificationsV1NotificationTypesExecute(r)
}

/*
ListNotificationsV1NotificationTypes Retrieve a list of all notification types for the resource type.

[![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Make a request to list_by_resource_type a notification type.

	@param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListNotificationsV1NotificationTypesRequest
*/
func (a *NotificationTypesNotificationsV1ApiService) ListNotificationsV1NotificationTypes(ctx _context.Context) ApiListNotificationsV1NotificationTypesRequest {
	return ApiListNotificationsV1NotificationTypesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NotificationsV1NotificationTypeList
func (a *NotificationTypesNotificationsV1ApiService) ListNotificationsV1NotificationTypesExecute(r ApiListNotificationsV1NotificationTypesRequest) (NotificationsV1NotificationTypeList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotificationsV1NotificationTypeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationTypesNotificationsV1ApiService.ListNotificationsV1NotificationTypes")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/notifications/v1/notification-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.resourceType != nil {
		localVarQueryParams.Add("resource_type", parameterToString(*r.resourceType, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.pageToken != nil {
		localVarQueryParams.Add("page_token", parameterToString(*r.pageToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
