// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
REST Admin API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 3.0.0
Contact: kafka-clients-proxy-team@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type ACLV3Api interface {

	/*
	CreateKafkaV3Acls Create ACLs

	[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Creates an ACL.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param clusterId The Kafka cluster ID.
	 @return ApiCreateKafkaV3AclsRequest
	*/
	CreateKafkaV3Acls(ctx _context.Context, clusterId string) ApiCreateKafkaV3AclsRequest

	// CreateKafkaV3AclsExecute executes the request
	CreateKafkaV3AclsExecute(r ApiCreateKafkaV3AclsRequest) (*_nethttp.Response, error)

	/*
	DeleteKafkaV3Acls Delete ACLs

	[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Deletes the list of ACLs that matches the search criteria.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param clusterId The Kafka cluster ID.
	 @return ApiDeleteKafkaV3AclsRequest
	*/
	DeleteKafkaV3Acls(ctx _context.Context, clusterId string) ApiDeleteKafkaV3AclsRequest

	// DeleteKafkaV3AclsExecute executes the request
	//  @return InlineResponse200
	DeleteKafkaV3AclsExecute(r ApiDeleteKafkaV3AclsRequest) (InlineResponse200, *_nethttp.Response, error)

	/*
	GetKafkaV3Acls Search ACLs

	[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Returns a list of ACLs that match the search criteria.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param clusterId The Kafka cluster ID.
	 @return ApiGetKafkaV3AclsRequest
	*/
	GetKafkaV3Acls(ctx _context.Context, clusterId string) ApiGetKafkaV3AclsRequest

	// GetKafkaV3AclsExecute executes the request
	//  @return AclDataList
	GetKafkaV3AclsExecute(r ApiGetKafkaV3AclsRequest) (AclDataList, *_nethttp.Response, error)
}

// ACLV3ApiService ACLV3Api service
type ACLV3ApiService service

type ApiCreateKafkaV3AclsRequest struct {
	ctx _context.Context
	ApiService ACLV3Api
	clusterId string
	createAclRequestData *CreateAclRequestData
}

// The ACL creation request.
func (r ApiCreateKafkaV3AclsRequest) CreateAclRequestData(createAclRequestData CreateAclRequestData) ApiCreateKafkaV3AclsRequest {
	r.createAclRequestData = &createAclRequestData
	return r
}

func (r ApiCreateKafkaV3AclsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.CreateKafkaV3AclsExecute(r)
}

/*
CreateKafkaV3Acls Create ACLs

[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Creates an ACL.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clusterId The Kafka cluster ID.
 @return ApiCreateKafkaV3AclsRequest
*/
func (a *ACLV3ApiService) CreateKafkaV3Acls(ctx _context.Context, clusterId string) ApiCreateKafkaV3AclsRequest {
	return ApiCreateKafkaV3AclsRequest{
		ApiService: a,
		ctx: ctx,
		clusterId: clusterId,
	}
}

// Execute executes the request
func (a *ACLV3ApiService) CreateKafkaV3AclsExecute(r ApiCreateKafkaV3AclsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ACLV3ApiService.CreateKafkaV3Acls")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kafka/v3/clusters/{cluster_id}/acls"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", _neturl.PathEscape(parameterToString(r.clusterId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAclRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteKafkaV3AclsRequest struct {
	ctx _context.Context
	ApiService ACLV3Api
	clusterId string
	resourceType *AclResourceType
	resourceName *string
	patternType *string
	principal *string
	host *string
	operation *string
	permission *string
}

// The ACL resource type.
func (r ApiDeleteKafkaV3AclsRequest) ResourceType(resourceType AclResourceType) ApiDeleteKafkaV3AclsRequest {
	r.resourceType = &resourceType
	return r
}
// The ACL resource name.
func (r ApiDeleteKafkaV3AclsRequest) ResourceName(resourceName string) ApiDeleteKafkaV3AclsRequest {
	r.resourceName = &resourceName
	return r
}
// The ACL pattern type.
func (r ApiDeleteKafkaV3AclsRequest) PatternType(patternType string) ApiDeleteKafkaV3AclsRequest {
	r.patternType = &patternType
	return r
}
// The ACL principal.
func (r ApiDeleteKafkaV3AclsRequest) Principal(principal string) ApiDeleteKafkaV3AclsRequest {
	r.principal = &principal
	return r
}
// The ACL host.
func (r ApiDeleteKafkaV3AclsRequest) Host(host string) ApiDeleteKafkaV3AclsRequest {
	r.host = &host
	return r
}
// The ACL operation.
func (r ApiDeleteKafkaV3AclsRequest) Operation(operation string) ApiDeleteKafkaV3AclsRequest {
	r.operation = &operation
	return r
}
// The ACL permission.
func (r ApiDeleteKafkaV3AclsRequest) Permission(permission string) ApiDeleteKafkaV3AclsRequest {
	r.permission = &permission
	return r
}

func (r ApiDeleteKafkaV3AclsRequest) Execute() (InlineResponse200, *_nethttp.Response, error) {
	return r.ApiService.DeleteKafkaV3AclsExecute(r)
}

/*
DeleteKafkaV3Acls Delete ACLs

[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Deletes the list of ACLs that matches the search criteria.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clusterId The Kafka cluster ID.
 @return ApiDeleteKafkaV3AclsRequest
*/
func (a *ACLV3ApiService) DeleteKafkaV3Acls(ctx _context.Context, clusterId string) ApiDeleteKafkaV3AclsRequest {
	return ApiDeleteKafkaV3AclsRequest{
		ApiService: a,
		ctx: ctx,
		clusterId: clusterId,
	}
}

// Execute executes the request
//  @return InlineResponse200
func (a *ACLV3ApiService) DeleteKafkaV3AclsExecute(r ApiDeleteKafkaV3AclsRequest) (InlineResponse200, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse200
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ACLV3ApiService.DeleteKafkaV3Acls")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kafka/v3/clusters/{cluster_id}/acls"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", _neturl.PathEscape(parameterToString(r.clusterId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.resourceType != nil {
		localVarQueryParams.Add("resource_type", parameterToString(*r.resourceType, ""))
	}
	if r.resourceName != nil {
		localVarQueryParams.Add("resource_name", parameterToString(*r.resourceName, ""))
	}
	if r.patternType != nil {
		localVarQueryParams.Add("pattern_type", parameterToString(*r.patternType, ""))
	}
	if r.principal != nil {
		localVarQueryParams.Add("principal", parameterToString(*r.principal, ""))
	}
	if r.host != nil {
		localVarQueryParams.Add("host", parameterToString(*r.host, ""))
	}
	if r.operation != nil {
		localVarQueryParams.Add("operation", parameterToString(*r.operation, ""))
	}
	if r.permission != nil {
		localVarQueryParams.Add("permission", parameterToString(*r.permission, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetKafkaV3AclsRequest struct {
	ctx _context.Context
	ApiService ACLV3Api
	clusterId string
	resourceType *AclResourceType
	resourceName *string
	patternType *string
	principal *string
	host *string
	operation *string
	permission *string
}

// The ACL resource type.
func (r ApiGetKafkaV3AclsRequest) ResourceType(resourceType AclResourceType) ApiGetKafkaV3AclsRequest {
	r.resourceType = &resourceType
	return r
}
// The ACL resource name.
func (r ApiGetKafkaV3AclsRequest) ResourceName(resourceName string) ApiGetKafkaV3AclsRequest {
	r.resourceName = &resourceName
	return r
}
// The ACL pattern type.
func (r ApiGetKafkaV3AclsRequest) PatternType(patternType string) ApiGetKafkaV3AclsRequest {
	r.patternType = &patternType
	return r
}
// The ACL principal.
func (r ApiGetKafkaV3AclsRequest) Principal(principal string) ApiGetKafkaV3AclsRequest {
	r.principal = &principal
	return r
}
// The ACL host.
func (r ApiGetKafkaV3AclsRequest) Host(host string) ApiGetKafkaV3AclsRequest {
	r.host = &host
	return r
}
// The ACL operation.
func (r ApiGetKafkaV3AclsRequest) Operation(operation string) ApiGetKafkaV3AclsRequest {
	r.operation = &operation
	return r
}
// The ACL permission.
func (r ApiGetKafkaV3AclsRequest) Permission(permission string) ApiGetKafkaV3AclsRequest {
	r.permission = &permission
	return r
}

func (r ApiGetKafkaV3AclsRequest) Execute() (AclDataList, *_nethttp.Response, error) {
	return r.ApiService.GetKafkaV3AclsExecute(r)
}

/*
GetKafkaV3Acls Search ACLs

[![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Returns a list of ACLs that match the search criteria.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clusterId The Kafka cluster ID.
 @return ApiGetKafkaV3AclsRequest
*/
func (a *ACLV3ApiService) GetKafkaV3Acls(ctx _context.Context, clusterId string) ApiGetKafkaV3AclsRequest {
	return ApiGetKafkaV3AclsRequest{
		ApiService: a,
		ctx: ctx,
		clusterId: clusterId,
	}
}

// Execute executes the request
//  @return AclDataList
func (a *ACLV3ApiService) GetKafkaV3AclsExecute(r ApiGetKafkaV3AclsRequest) (AclDataList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AclDataList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ACLV3ApiService.GetKafkaV3Acls")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kafka/v3/clusters/{cluster_id}/acls"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", _neturl.PathEscape(parameterToString(r.clusterId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.resourceType != nil {
		localVarQueryParams.Add("resource_type", parameterToString(*r.resourceType, ""))
	}
	if r.resourceName != nil {
		localVarQueryParams.Add("resource_name", parameterToString(*r.resourceName, ""))
	}
	if r.patternType != nil {
		localVarQueryParams.Add("pattern_type", parameterToString(*r.patternType, ""))
	}
	if r.principal != nil {
		localVarQueryParams.Add("principal", parameterToString(*r.principal, ""))
	}
	if r.host != nil {
		localVarQueryParams.Add("host", parameterToString(*r.host, ""))
	}
	if r.operation != nil {
		localVarQueryParams.Add("operation", parameterToString(*r.operation, ""))
	}
	if r.permission != nil {
		localVarQueryParams.Add("permission", parameterToString(*r.permission, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
