openapi: 3.0.0
info:
  contact:
    email: flink-control-plane@confluent.io
    name: Flink
    url: https://confluent.slack.com/app_redirect?channel=flink-ccloud
  title: SQL API v1alpha1
  version: 0.0.1
  x-api-id: a19bfe13-af66-493b-930a-5b7664bf52b7
  x-audience: external-public
  x-tag-group: SQL API (%s)
  x-api-group: sql/v1alpha1
servers:
- description: Flink Compute Pool Endpoint
  url: https://flink.region.provider.confluent.cloud
tags:
- description: |-
    [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To SQL API v1alpha1](https://img.shields.io/badge/-Request%20Access%20To%20Flink%20Gateway%20API-%23bc8540)](mailto:ccloud-api-access+sql-v1alpha1-early-access@confluent.io?subject=Request%20to%20join%20sql/v1alpha1%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20sql/v1alpha1%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)
    `Statement` represents a core resource used to model SQL statements for execution.
    A statement generalizes DDL, DML, DQL, etc., but doesn’t attempt to handle session
    management or any higher-level functionality.
    The API allows you to list, create, read, and delete your statements.
    ## The Statements Model
    <SchemaDefinition schemaRef="#/components/schemas/sql.v1alpha1.Statement" />
  name: Statements (sql/v1alpha1)
paths:
  /sql/v1alpha1/environments/{environment_id}/statements:
    get:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To SQL API v1alpha1](https://img.shields.io/badge/-Request%20Access%20To%20Flink%20Gateway%20API-%23bc8540)](mailto:ccloud-api-access+sql-v1alpha1-early-access@confluent.io?subject=Request%20to%20join%20sql/v1alpha1%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20sql/v1alpha1%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)
        Retrieve a sorted, filtered, paginated list of all statements.
      operationId: listSqlV1alpha1Statements
      parameters:
      - description: The unique identifier for the environment.
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter the results by exact match for spec.compute_pool_id.
        example: fcp-00000
        explode: true
        in: query
        name: compute_pool_id
        required: false
        schema:
          type: string
        style: form
      - description: A pagination size for collection requests.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          maximum: 100
          type: integer
          x-max-page-items: 500
        style: form
      - description: An opaque pagination token for collection requests.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          maxLength: 255
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1alpha1.StatementList'
          description: Statement.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "400"
                code: invalid_filter
                title: Invalid Filter
                detail: The 'delorean' resource can't be filtered by 'num_doors'
                source:
                  parameter: num_doors
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "401"
                code: user_unauthenticated
                title: Authentication Required
                detail: Valid authentication credentials must be provided
              schema:
                $ref: '#/components/schemas/Error'
          description: The request lacks valid authentication credentials for this
            resource.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
            WWW-Authenticate:
              description: The unique identifier for the API request.
              example: Basic error="invalid_key", error_description="The API Key is
                invalid"
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Unauthorized
        "403":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "403"
                code: user_unauthorized
                title: User Access Unauthorized
                detail: The user 'mcfly' is not allowed to access the 'delorean' resource
                  without the 'plutonium' role.
              schema:
                $ref: '#/components/schemas/Error'
          description: The access credentials were considered insufficient to grant
            access
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Forbidden
        "404":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "404"
                title: Not Found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "500"
                code: out_of_gas
                title: DeLorean Out Of Gas
                detail: The DeLorean has run out of gas, but Doc Brown will fill 'er
                  up for you asap
              schema:
                $ref: '#/components/schemas/Error'
          description: Oops, something went wrong!
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api-key: []
      summary: List of Statements
      tags:
      - Statements (sql/v1alpha1)
      x-request-access-name: SQL API v1alpha1
      x-codeSamples:
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements")
            .get()
            .addHeader("Authorization", "Basic REPLACE_BASIC_AUTH")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Python
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("flink.region.provider.confluent.cloud")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Node
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "flink.region.provider.confluent.cloud",
            "port": null,
            "path": "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements",
            "headers": {
              "Authorization": "Basic REPLACE_BASIC_AUTH"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: C
        source: |-
          CURL *hnd = curl_easy_init();

          curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
          curl_easy_setopt(hnd, CURLOPT_URL, "https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements");

          struct curl_slist *headers = NULL;
          headers = curl_slist_append(headers, "Authorization: Basic REPLACE_BASIC_AUTH");
          curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

          CURLcode ret = curl_easy_perform(hnd);
      - lang: C#
        source: |-
          var client = new RestClient("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements");
          var request = new RestRequest(Method.GET);
          request.AddHeader("Authorization", "Basic REPLACE_BASIC_AUTH");
          IRestResponse response = client.Execute(request);
    post:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To SQL API v1alpha1](https://img.shields.io/badge/-Request%20Access%20To%20Flink%20Gateway%20API-%23bc8540)](mailto:ccloud-api-access+sql-v1alpha1-early-access@confluent.io?subject=Request%20to%20join%20sql/v1alpha1%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20sql/v1alpha1%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)
        Make a request to create a statement.
      operationId: createSqlV1alpha1Statement
      parameters:
      - description: The unique identifier for the environment.
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sql.v1alpha1.Statement'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sql.v1alpha1.Statement'
                - properties:
                    spec:
                      required:
                      - compute_pool_id
                      - statement
                      - statement_name
                      type: object
                  required:
                  - spec
                  - status
                  type: object
          description: A Statement is being created.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: Statement resource uri
              explode: false
              schema:
                example: https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/{environment_id}/statements/{statement_name}
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "400"
                code: invalid_filter
                title: Invalid Filter
                detail: The 'delorean' resource can't be filtered by 'num_doors'
                source:
                  parameter: num_doors
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "401"
                code: user_unauthenticated
                title: Authentication Required
                detail: Valid authentication credentials must be provided
              schema:
                $ref: '#/components/schemas/Error'
          description: The request lacks valid authentication credentials for this
            resource.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
            WWW-Authenticate:
              description: The unique identifier for the API request.
              example: Basic error="invalid_key", error_description="The API Key is
                invalid"
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Unauthorized
        "403":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "403"
                code: user_unauthorized
                title: User Access Unauthorized
                detail: The user 'mcfly' is not allowed to access the 'delorean' resource
                  without the 'plutonium' role.
              schema:
                $ref: '#/components/schemas/Error'
          description: The access credentials were considered insufficient to grant
            access
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Forbidden
        "409":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "409"
                code: resource_already_exists
                title: Resource Already exists
                detail: The entitlement '91e3e86f-fca6-4f14-98f5-a48e64113ce2' already
                  exists.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is in conflict with the current server state
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: Resource URI of conflicting resource
              explode: false
              schema:
                example: https://flink.region.provider.confluent.cloud/{object}/{id}
                format: uri
                type: string
              style: simple
          x-summary: Conflict
        "422":
          content:
            application/json:
              example:
                status: "422"
                code: invalid_configuration
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                title: Validation Failed
                detail: 'The property ''/cluster/storage_size'' of type string did
                  not match the following type: integer'
                source:
                  pointer: /cluster/storage_size
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Failed
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "500"
                code: out_of_gas
                title: DeLorean Out Of Gas
                detail: The DeLorean has run out of gas, but Doc Brown will fill 'er
                  up for you asap
              schema:
                $ref: '#/components/schemas/Error'
          description: Oops, something went wrong!
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api-key: []
      summary: Create a Statement
      tags:
      - Statements (sql/v1alpha1)
      x-request-access-name: SQL API v1alpha1
      x-codeSamples:
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH' \
            --header 'content-type: application/json' \
            --data '{"api_version":"sql/v1alpha1","kind":"Statement","metadata":{"self":"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345"},"spec":{"statement_name":"sql123","statement":"SELECT * FROM TABLE WHERE VALUE1 = VALUE2;","properties":[{"key":"key1","value":"value1"}],"compute_pool_id":"fcp-00000"},"status":{"phase":"RUNNING","detail":"COMPLETED: SQL statement is completed"}}'
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"api_version\":\"sql/v1alpha1\",\"kind\":\"Statement\",\"metadata\":{\"self\":\"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345\"},\"spec\":{\"statement_name\":\"sql123\",\"statement\":\"SELECT * FROM TABLE WHERE VALUE1 = VALUE2;\",\"properties\":[{\"key\":\"key1\",\"value\":\"value1\"}],\"compute_pool_id\":\"fcp-00000\"},\"status\":{\"phase\":\"RUNNING\",\"detail\":\"COMPLETED: SQL statement is completed\"}}");
          Request request = new Request.Builder()
            .url("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements")
            .post(body)
            .addHeader("content-type", "application/json")
            .addHeader("Authorization", "Basic REPLACE_BASIC_AUTH")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"api_version\\\":\\\"sql/v1alpha1\\\
          \",\\\"kind\\\":\\\"Statement\\\",\\\"metadata\\\":{\\\"self\\\":\\\"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345\\\
          \"},\\\"spec\\\":{\\\"statement_name\\\":\\\"sql123\\\",\\\"statement\\\"\
          :\\\"SELECT * FROM TABLE WHERE VALUE1 = VALUE2;\\\",\\\"properties\\\":[{\\\
          \"key\\\":\\\"key1\\\",\\\"value\\\":\\\"value1\\\"}],\\\"compute_pool_id\\\
          \":\\\"fcp-00000\\\"},\\\"status\\\":{\\\"phase\\\":\\\"RUNNING\\\",\\\"\
          detail\\\":\\\"COMPLETED: SQL statement is completed\\\"}}\")\n\n\treq,\
          \ _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\"\
          , \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\"\
          )\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\
          \tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\
          \n}"
      - lang: Python
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("flink.region.provider.confluent.cloud")

          payload = "{\"api_version\":\"sql/v1alpha1\",\"kind\":\"Statement\",\"metadata\":{\"self\":\"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345\"},\"spec\":{\"statement_name\":\"sql123\",\"statement\":\"SELECT * FROM TABLE WHERE VALUE1 = VALUE2;\",\"properties\":[{\"key\":\"key1\",\"value\":\"value1\"}],\"compute_pool_id\":\"fcp-00000\"},\"status\":{\"phase\":\"RUNNING\",\"detail\":\"COMPLETED: SQL statement is completed\"}}"

          headers = {
              'content-type': "application/json",
              'Authorization': "Basic REPLACE_BASIC_AUTH"
              }

          conn.request("POST", "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Node
        source: |-
          const http = require("https");

          const options = {
            "method": "POST",
            "hostname": "flink.region.provider.confluent.cloud",
            "port": null,
            "path": "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements",
            "headers": {
              "content-type": "application/json",
              "Authorization": "Basic REPLACE_BASIC_AUTH"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.write(JSON.stringify({
            api_version: 'sql/v1alpha1',
            kind: 'Statement',
            metadata: {
              self: 'https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345'
            },
            spec: {
              statement_name: 'sql123',
              statement: 'SELECT * FROM TABLE WHERE VALUE1 = VALUE2;',
              properties: [{key: 'key1', value: 'value1'}],
              compute_pool_id: 'fcp-00000'
            },
            status: {phase: 'RUNNING', detail: 'COMPLETED: SQL statement is completed'}
          }));
          req.end();
      - lang: C
        source: |-
          CURL *hnd = curl_easy_init();

          curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");
          curl_easy_setopt(hnd, CURLOPT_URL, "https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements");

          struct curl_slist *headers = NULL;
          headers = curl_slist_append(headers, "content-type: application/json");
          headers = curl_slist_append(headers, "Authorization: Basic REPLACE_BASIC_AUTH");
          curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

          curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"api_version\":\"sql/v1alpha1\",\"kind\":\"Statement\",\"metadata\":{\"self\":\"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345\"},\"spec\":{\"statement_name\":\"sql123\",\"statement\":\"SELECT * FROM TABLE WHERE VALUE1 = VALUE2;\",\"properties\":[{\"key\":\"key1\",\"value\":\"value1\"}],\"compute_pool_id\":\"fcp-00000\"},\"status\":{\"phase\":\"RUNNING\",\"detail\":\"COMPLETED: SQL statement is completed\"}}");

          CURLcode ret = curl_easy_perform(hnd);
      - lang: C#
        source: |-
          var client = new RestClient("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements");
          var request = new RestRequest(Method.POST);
          request.AddHeader("content-type", "application/json");
          request.AddHeader("Authorization", "Basic REPLACE_BASIC_AUTH");
          request.AddParameter("application/json", "{\"api_version\":\"sql/v1alpha1\",\"kind\":\"Statement\",\"metadata\":{\"self\":\"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345\"},\"spec\":{\"statement_name\":\"sql123\",\"statement\":\"SELECT * FROM TABLE WHERE VALUE1 = VALUE2;\",\"properties\":[{\"key\":\"key1\",\"value\":\"value1\"}],\"compute_pool_id\":\"fcp-00000\"},\"status\":{\"phase\":\"RUNNING\",\"detail\":\"COMPLETED: SQL statement is completed\"}}", ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
    x-request-access-name: SQL API v1alpha1
  /sql/v1alpha1/environments/{environment_id}/statements/{statement_name}:
    delete:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To SQL API v1alpha1](https://img.shields.io/badge/-Request%20Access%20To%20Flink%20Gateway%20API-%23bc8540)](mailto:ccloud-api-access+sql-v1alpha1-early-access@confluent.io?subject=Request%20to%20join%20sql/v1alpha1%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20sql/v1alpha1%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)
        Make a request to delete a statement.
      operationId: deleteSqlV1alpha1Statement
      parameters:
      - description: The unique identifier for the environment.
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the statement.
        explode: false
        in: path
        name: statement_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: A Statement is being deleted.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "400"
                code: invalid_filter
                title: Invalid Filter
                detail: The 'delorean' resource can't be filtered by 'num_doors'
                source:
                  parameter: num_doors
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "401"
                code: user_unauthenticated
                title: Authentication Required
                detail: Valid authentication credentials must be provided
              schema:
                $ref: '#/components/schemas/Error'
          description: The request lacks valid authentication credentials for this
            resource.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
            WWW-Authenticate:
              description: The unique identifier for the API request.
              example: Basic error="invalid_key", error_description="The API Key is
                invalid"
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Unauthorized
        "403":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "403"
                code: user_unauthorized
                title: User Access Unauthorized
                detail: The user 'mcfly' is not allowed to access the 'delorean' resource
                  without the 'plutonium' role.
              schema:
                $ref: '#/components/schemas/Error'
          description: The access credentials were considered insufficient to grant
            access
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Forbidden
        "404":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "404"
                title: Not Found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "500"
                code: out_of_gas
                title: DeLorean Out Of Gas
                detail: The DeLorean has run out of gas, but Doc Brown will fill 'er
                  up for you asap
              schema:
                $ref: '#/components/schemas/Error'
          description: Oops, something went wrong!
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api-key: []
      summary: Delete a Statement
      tags:
      - Statements (sql/v1alpha1)
      x-request-access-name: SQL API v1alpha1
      x-codeSamples:
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D")
            .delete(null)
            .addHeader("Authorization", "Basic REPLACE_BASIC_AUTH")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D\"\
          \n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Python
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("flink.region.provider.confluent.cloud")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("DELETE", "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Node
        source: |-
          const http = require("https");

          const options = {
            "method": "DELETE",
            "hostname": "flink.region.provider.confluent.cloud",
            "port": null,
            "path": "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D",
            "headers": {
              "Authorization": "Basic REPLACE_BASIC_AUTH"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: C
        source: |-
          CURL *hnd = curl_easy_init();

          curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");
          curl_easy_setopt(hnd, CURLOPT_URL, "https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D");

          struct curl_slist *headers = NULL;
          headers = curl_slist_append(headers, "Authorization: Basic REPLACE_BASIC_AUTH");
          curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

          CURLcode ret = curl_easy_perform(hnd);
      - lang: C#
        source: |-
          var client = new RestClient("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D");
          var request = new RestRequest(Method.DELETE);
          request.AddHeader("Authorization", "Basic REPLACE_BASIC_AUTH");
          IRestResponse response = client.Execute(request);
    get:
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To SQL API v1alpha1](https://img.shields.io/badge/-Request%20Access%20To%20Flink%20Gateway%20API-%23bc8540)](mailto:ccloud-api-access+sql-v1alpha1-early-access@confluent.io?subject=Request%20to%20join%20sql/v1alpha1%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20sql/v1alpha1%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)
        Make a request to read a statement.
      operationId: getSqlV1alpha1Statement
      parameters:
      - description: The unique identifier for the environment.
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the statement.
        explode: false
        in: path
        name: statement_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sql.v1alpha1.Statement'
                - properties:
                    spec:
                      required:
                      - compute_pool_id
                      - statement
                      - statement_name
                      type: object
                  required:
                  - api_version
                  - kind
                  - metadata
                  - spec
                  - status
                  type: object
          description: Statement.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "400"
                code: invalid_filter
                title: Invalid Filter
                detail: The 'delorean' resource can't be filtered by 'num_doors'
                source:
                  parameter: num_doors
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "401"
                code: user_unauthenticated
                title: Authentication Required
                detail: Valid authentication credentials must be provided
              schema:
                $ref: '#/components/schemas/Error'
          description: The request lacks valid authentication credentials for this
            resource.
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
            WWW-Authenticate:
              description: The unique identifier for the API request.
              example: Basic error="invalid_key", error_description="The API Key is
                invalid"
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Unauthorized
        "403":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "403"
                code: user_unauthorized
                title: User Access Unauthorized
                detail: The user 'mcfly' is not allowed to access the 'delorean' resource
                  without the 'plutonium' role.
              schema:
                $ref: '#/components/schemas/Error'
          description: The access credentials were considered insufficient to grant
            access
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
          x-summary: Forbidden
        "404":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "404"
                title: Not Found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                status: "500"
                code: out_of_gas
                title: DeLorean Out Of Gas
                detail: The DeLorean has run out of gas, but Doc Brown will fill 'er
                  up for you asap
              schema:
                $ref: '#/components/schemas/Error'
          description: Oops, something went wrong!
          headers:
            X-Request-Id:
              description: The unique identifier for the API request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api-key: []
      summary: Read a Statement
      tags:
      - Statements (sql/v1alpha1)
      x-request-access-name: SQL API v1alpha1
      x-codeSamples:
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D")
            .get()
            .addHeader("Authorization", "Basic REPLACE_BASIC_AUTH")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Python
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("flink.region.provider.confluent.cloud")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Node
        source: |-
          const http = require("https");

          const options = {
            "method": "GET",
            "hostname": "flink.region.provider.confluent.cloud",
            "port": null,
            "path": "/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D",
            "headers": {
              "Authorization": "Basic REPLACE_BASIC_AUTH"
            }
          };

          const req = http.request(options, function (res) {
            const chunks = [];

            res.on("data", function (chunk) {
              chunks.push(chunk);
            });

            res.on("end", function () {
              const body = Buffer.concat(chunks);
              console.log(body.toString());
            });
          });

          req.end();
      - lang: C
        source: |-
          CURL *hnd = curl_easy_init();

          curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
          curl_easy_setopt(hnd, CURLOPT_URL, "https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D");

          struct curl_slist *headers = NULL;
          headers = curl_slist_append(headers, "Authorization: Basic REPLACE_BASIC_AUTH");
          curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

          CURLcode ret = curl_easy_perform(hnd);
      - lang: C#
        source: |-
          var client = new RestClient("https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/%7Benvironment_id%7D/statements/%7Bstatement_name%7D");
          var request = new RestRequest(Method.GET);
          request.AddHeader("Authorization", "Basic REPLACE_BASIC_AUTH");
          IRestResponse response = client.Execute(request);
    x-request-access-name: SQL API v1alpha1
components:
  responses:
    BadRequestError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "400"
            code: invalid_filter
            title: Invalid Filter
            detail: The 'delorean' resource can't be filtered by 'num_doors'
            source:
              parameter: num_doors
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad Request
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
    UnauthenticatedError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "401"
            code: user_unauthenticated
            title: Authentication Required
            detail: Valid authentication credentials must be provided
          schema:
            $ref: '#/components/schemas/Error'
      description: The request lacks valid authentication credentials for this resource.
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
        WWW-Authenticate:
          description: The unique identifier for the API request.
          example: Basic error="invalid_key", error_description="The API Key is invalid"
          explode: false
          schema:
            type: string
          style: simple
      x-summary: Unauthorized
    OverQuotaError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "402"
            code: quota_exceeded
            title: Kafka Clusters Per Org Quota Exceeded
            detail: 'The request would exceed the quota: kafka_clusters_per_environment'
          schema:
            $ref: '#/components/schemas/Error'
      description: The request would exceed one or more quotas.
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
      x-summary: Over Quota
    UnauthorizedError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "403"
            code: user_unauthorized
            title: User Access Unauthorized
            detail: The user 'mcfly' is not allowed to access the 'delorean' resource
              without the 'plutonium' role.
          schema:
            $ref: '#/components/schemas/Error'
      description: The access credentials were considered insufficient to grant access
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
      x-summary: Forbidden
    ConflictError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "409"
            code: resource_already_exists
            title: Resource Already exists
            detail: The entitlement '91e3e86f-fca6-4f14-98f5-a48e64113ce2' already
              exists.
          schema:
            $ref: '#/components/schemas/Error'
      description: The request is in conflict with the current server state
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
        Location:
          description: Resource URI of conflicting resource
          explode: false
          schema:
            example: https://flink.region.provider.confluent.cloud/{object}/{id}
            format: uri
            type: string
          style: simple
      x-summary: Conflict
    NotFoundError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "404"
            title: Not Found
          schema:
            $ref: '#/components/schemas/Error'
      description: Not Found
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
    ValidationError:
      content:
        application/json:
          example:
            status: "422"
            code: invalid_configuration
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            title: Validation Failed
            detail: 'The property ''/cluster/storage_size'' of type string did not
              match the following type: integer'
            source:
              pointer: /cluster/storage_size
          schema:
            $ref: '#/components/schemas/Error'
      description: Validation Failed
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
    RateLimitError:
      description: Rate Limit Exceeded
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
    DefaultSystemError:
      content:
        application/json:
          example:
            id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
            status: "500"
            code: out_of_gas
            title: DeLorean Out Of Gas
            detail: The DeLorean has run out of gas, but Doc Brown will fill 'er up
              for you asap
          schema:
            $ref: '#/components/schemas/Error'
      description: Oops, something went wrong!
      headers:
        X-Request-Id:
          description: The unique identifier for the API request.
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    sql.v1alpha1.Statement:
      description: |-
        `Statement` represents a core resource used to model SQL statements for execution.
        A statement generalizes DDL, DML, DQL, etc., but doesn’t attempt to handle session
        management or any higher-level functionality.
        The API allows you to list, create, read, and delete your statements.
        ## The Statements Model
        <SchemaDefinition schemaRef="#/components/schemas/sql.v1alpha1.Statement" />
      properties:
        api_version:
          description: APIVersion defines the schema version of this representation
            of a resource.
          enum:
          - sql/v1alpha1
          example: sql/v1alpha1
          type: string
        kind:
          description: Kind defines the object this REST resource represents.
          enum:
          - Statement
          type: string
        metadata:
          allOf:
          - $ref: '#/components/schemas/ObjectMeta'
          - properties:
              self:
                example: https://flink.region.provider.confluent.cloud/sql/v1alpha1/environments/env-00000/statements/s-12345
        spec:
          $ref: '#/components/schemas/sql.v1alpha1.StatementSpec'
        status:
          $ref: '#/components/schemas/sql.v1alpha1.StatementStatus'
      type: object
    sql.v1alpha1.StatementStatus:
      description: The status of the Statement
      properties:
        phase:
          description: |
            The lifecyle phase of the submitted SQL statement:
            PENDING: SQL statement is pending execution;
            RUNNING: SQL statement execution is in progress;
            COMPLETED: SQL statement is completed;
            DELETING: SQL statement deletion is in progress;
            FAILED: SQL statement execution has failed;
          example: RUNNING
          type: string
          x-extensible-enum:
          - PENDING
          - RUNNING
          - COMPLETED
          - DELETING
          - FAILED
        detail:
          description: Description of a SQL statement phase.
          example: 'COMPLETED: SQL statement is completed'
          type: string
      required:
      - phase
      type: object
    MultipleSearchFilter:
      description: Filter a collection by a string search for one or more values
      items:
        type: string
      type: array
    SearchFilter:
      description: Filter a collection by a string search
      type: string
    sql.v1alpha1.StatementList:
      description: |-
        `Statement` represents a core resource used to model SQL statements for execution.
        A statement generalizes DDL, DML, DQL, etc., but doesn’t attempt to handle session
        management or any higher-level functionality.
        The API allows you to list, create, read, and delete your statements.
        ## The Statements Model
        <SchemaDefinition schemaRef="#/components/schemas/sql.v1alpha1.Statement" />
      example:
        metadata: ""
        data:
        - ""
        - ""
        kind: StatementList
        api_version: sql/v1alpha1
      properties:
        api_version:
          description: APIVersion defines the schema version of this representation
            of a resource.
          enum:
          - sql/v1alpha1
          example: sql/v1alpha1
          type: string
        kind:
          description: Kind defines the object this REST resource represents.
          enum:
          - StatementList
          type: string
        metadata:
          allOf:
          - $ref: '#/components/schemas/ListMeta'
        data:
          description: A data property that contains an array of resource items. Each
            entry in the array is a separate resource.
          items:
            allOf:
            - $ref: '#/components/schemas/sql.v1alpha1.Statement'
            - properties:
                spec:
                  required:
                  - compute_pool_id
                  - statement
                  - statement_name
                  type: object
              required:
              - metadata
              - spec
              - status
              type: object
          type: array
          uniqueItems: true
      required:
      - api_version
      - data
      - kind
      - metadata
      type: object
    sql.v1alpha1.StatementSpec:
      description: The specs of the Statement
      properties:
        statement_name:
          description: The name of the resource, unique within this environment.
          example: sql123
          type: string
          x-immutable: true
        statement:
          description: The raw SQL text statmement.
          example: SELECT * FROM TABLE WHERE VALUE1 = VALUE2;
          type: string
          x-immutable: true
        properties:
          description: Request/client properties.
          items:
            $ref: '#/components/schemas/sql.v1alpha1.Property'
          type: array
          uniqueItems: true
        compute_pool_id:
          description: The id associated with the compute pool in context.
          example: fcp-00000
          type: string
      type: object
      x-enable-listmeta: true
      x-enable-objectmeta: true
    ObjectMeta:
      description: The metadata of the statement.
      properties:
        self:
          description: Self is a Uniform Resource Locator (URL) at which an object
            can be addressed. This URL encodes the service location, API version,
            and other particulars necessary to locate the resource at a point in time
          example: https://api.confluent.cloud/v2/kafka-clusters/lkc-f3a90de
          format: uri
          readOnly: true
          type: string
        created_at:
          description: The date and time at which this object was created. It is represented
            in RFC3339 format and is in UTC.
          example: 1996-03-19T01:02:03-04:05
          format: date-time
          readOnly: true
          type: string
        updated_at:
          description: The date and time at which this object was last updated. It
            is represented in RFC3339 format and is in UTC.
          example: 2023-03-31T00:00:00Z
          format: date-time
          readOnly: true
          type: string
      required:
      - self
    ListMeta:
      description: ListMeta describes metadata that resource collections may have
      properties:
        self:
          description: Self is a Uniform Resource Locator (URL) at which an object
            can be addressed. This URL encodes the service location, API version,
            and other particulars necessary to locate the resource at a point in time
          example: https://flink.us-west1.aws.confluent.cloud/sql/v1alpha1/environments/env_id/statements
          type: string
        next:
          description: An opaque token that can be sent to get the next batch of results
          example: next_token
          type: string
      type: object
    sql.v1alpha1.Property:
      description: Key/value pair.
      properties:
        key:
          description: Property key.
          example: key1
          type: string
        value:
          description: Property value.
          example: value1
          type: string
      type: object
    Error:
      description: Describes a particular error encountered while performing an operation.
      properties:
        created_at:
          description: The date and time at which this object was created. It is represented
            in RFC3339 format and is in UTC.
          example: 1996-03-19T01:02:03-04:05
          format: date-time
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/sql.v1alpha1.ErrorDetails'
      type: object
    sql.v1alpha1.ErrorDetails:
      description: Describes a particular error encountered while performing an operation.
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          maxLength: 255
          type: string
        status:
          description: The HTTP status code applicable to this problem, expressed
            as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD
            NOT** change from occurrence to occurrence of the problem, except for
            purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem.
          type: string
        resolution:
          description: Instructions for the end-user for correcting the error.
          example: Privilege must be granted for access.
          type: string
      type: object
  securitySchemes:
    api-key:
      description: Authenticate with API Keys using HTTP Basic Auth. Treat the API
        Key ID as the username and API Key Secret as the password.
      scheme: basic
      type: http
