openapi: 3.0.1
info:
  contact:
    email: data-governance@confluent.io
    name: Data Governance Team
    url: https://confluent.slack.com/app_redirect?channel=data-governance-eng
  description: REST API for the Schema Registry
  title: Confluent Schema Registry APIs
  version: 1.0.0
  x-api-id: cbdaa8a3-56f3-4de9-95a5-b4b61172ea3a
  x-api-group: v1
  x-audience: external-public
  x-tag-group: Schema Registry API (%s)
servers:
- description: Confluent Cloud Schema Registry Endpoint.
  url: https://psrc-00000.region.provider.confluent.cloud
tags:
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to test schema compatibility.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Compatibility (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to manage and query schema compatibility settings and cluster configurations.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Config (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to retrieve information about schema contexts.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Contexts (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to create, retrieve, update, and delete exporters.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Exporters (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to create, retrieve, update, and delete schema subjects modes of operation.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Modes (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to create, retrieve, update, and delete schemas.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Schemas (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to create, retrieve, update, and delete schema subjects and versions.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Subjects (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to create, retrieve, update, and delete key encryption keys.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Key Encryption Keys (v1)
- description: |-
    [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

    The API allows you to create, retrieve, update, and delete data encryption keys.

    Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  name: Data Encryption Keys (v1)
paths:
  /clusterconfig:
    get:
      description: Retrieves cluster config information.
      operationId: getClusterConfig
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ClusterConfig'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ClusterConfig'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ClusterConfig'
          description: The cluster config
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get cluster config
      tags:
      - Config (v1)
  /compatibility/subjects/{subject}/versions/{version}:
    post:
      description: 'Test input schema against a particular version of a subject''s
        schema for compatibility. The compatibility level applied for the check is
        the configured compatibility level for the subject (http:get:: /config/(string:
        subject)). If this subject''s compatibility level was never changed, then
        the global compatibility level applies (http:get:: /config).'
      operationId: testCompatibilityBySubjectName
      parameters:
      - description: Subject of the schema version against which compatibility is
          to be tested
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      - description: Version of the subject's schema against which compatibility is
          to be tested. Valid values for versionId are between [1,2^31-1] or the string
          "latest"."latest" checks compatibility of the input schema with the last
          registered schema under the specified subject
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return detailed error messages
        explode: true
        in: query
        name: verbose
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
        description: Schema
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
          description: Compatibility check result.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found. Error
            code 40402 indicates version not found.
        "422":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unprocessable entity. Error code 42201 indicates an invalid
            schema or schema type. Error code 42202 indicates an invalid version.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Test schema compatibility against a particular schema subject-version
      tags:
      - Compatibility (v1)
  /compatibility/subjects/{subject}/versions:
    post:
      description: 'Test input schema against a subject''s schemas for compatibility,
        based on the configured compatibility level of the subject. In other words,
        it will perform the same compatibility check as register for that subject.
        The compatibility level applied for the check is the configured compatibility
        level for the subject (http:get:: /config/(string: subject)). If this subject''s
        compatibility level was never changed, then the global compatibility level
        applies (http:get:: /config).'
      operationId: testCompatibilityForSubject
      parameters:
      - description: Subject of the schema version against which compatibility is
          to be tested
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return detailed error messages
        explode: true
        in: query
        name: verbose
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/RegisterSchemaRequest'
        description: Schema
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
          description: Compatibility check result.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Test schema compatibility against all schemas under a subject
      tags:
      - Compatibility (v1)
  /config/{subject}:
    delete:
      description: Deletes the specified subject-level compatibility level config
        and reverts to the global default.
      operationId: deleteSubjectConfig
      parameters:
      - description: Name of the subject
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                example: FULL_TRANSITIVE
                type: string
                x-extensible-enum:
                - NONE
                - BACKWARD
                - BACKWARD_TRANSITIVE
                - FORWARD
                - FORWARD_TRANSITIVE
                - FULL
                - FULL_TRANSITIVE
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                example: FULL_TRANSITIVE
                type: string
                x-extensible-enum:
                - NONE
                - BACKWARD
                - BACKWARD_TRANSITIVE
                - FORWARD
                - FORWARD_TRANSITIVE
                - FULL
                - FULL_TRANSITIVE
            application/json; qs=0.5:
              schema:
                example: FULL_TRANSITIVE
                type: string
                x-extensible-enum:
                - NONE
                - BACKWARD
                - BACKWARD_TRANSITIVE
                - FORWARD
                - FORWARD_TRANSITIVE
                - FULL
                - FULL_TRANSITIVE
          description: Operation succeeded. Returns old compatibility level.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Delete subject compatibility level
      tags:
      - Config (v1)
    get:
      description: |-
        Retrieves compatibility level, compatibility group, normalization,
        default metadata, and rule set for a subject.
      operationId: getSubjectLevelConfig
      parameters:
      - description: Name of the subject
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return the global compatibility level  if subject
          compatibility level not found
        explode: true
        in: query
        name: defaultToGlobal
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/Config'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/Config'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/Config'
          description: The subject compatibility level.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get subject compatibility level
      tags:
      - Config (v1)
    put:
      description: |-
        Update compatibility level, compatibility group, normalization,
        default metadata, and rule set for the specified subject. On success,
        echoes the original request back to the client.
      operationId: updateSubjectLevelConfig
      parameters:
      - description: Name of the subject
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
        description: Config Update Request
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ConfigUpdateRequest'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ConfigUpdateRequest'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ConfigUpdateRequest'
          description: The original request.
        "422":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unprocessable Entity. Error code 42203 indicates invalid compatibility
            level.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store. Error code 50003 indicates a failure forwarding
            the request to the primary.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Update subject compatibility level
      tags:
      - Config (v1)
  /config:
    delete:
      description: Deletes the global compatibility level config and reverts to the
        default.
      operationId: deleteTopLevelConfig
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              example: FULL_TRANSITIVE
              schema:
                type: string
                x-extensible-enum:
                - NONE
                - BACKWARD
                - BACKWARD_TRANSITIVE
                - FORWARD
                - FORWARD_TRANSITIVE
                - FULL
                - FULL_TRANSITIVE
            application/vnd.schemaregistry+json; qs=0.9:
              example: FULL_TRANSITIVE
              schema:
                type: string
                x-extensible-enum:
                - NONE
                - BACKWARD
                - BACKWARD_TRANSITIVE
                - FORWARD
                - FORWARD_TRANSITIVE
                - FULL
                - FULL_TRANSITIVE
            application/json; qs=0.5:
              example: FULL_TRANSITIVE
              schema:
                type: string
                x-extensible-enum:
                - NONE
                - BACKWARD
                - BACKWARD_TRANSITIVE
                - FORWARD
                - FORWARD_TRANSITIVE
                - FULL
                - FULL_TRANSITIVE
          description: Operation succeeded. Returns old global compatibility level.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Delete global compatibility level
      tags:
      - Config (v1)
    get:
      description: |-
        Retrieves the global compatibility level, compatibility group,
        normalization, default metadata, and rule set.
      operationId: getTopLevelConfig
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/Config'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/Config'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/Config'
          description: The global compatibility level.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get global compatibility level
      tags:
      - Config (v1)
    put:
      description: |-
        Updates the global compatibility level, compatibility group,
        schema normalization, default metadata, and rule set. On success, echoes the
        original request back to the client.
      operationId: updateTopLevelConfig
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
        description: Config Update Request
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ConfigUpdateRequest'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ConfigUpdateRequest'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ConfigUpdateRequest'
          description: The original request.
        "422":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unprocessable Entity. Error code 42203 indicates invalid compatibility
            level.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store. Error code 50003 indicates a failure forwarding
            the request to the primary.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Update global compatibility level
      tags:
      - Config (v1)
  /exporters:
    get:
      description: Retrieves a list of schema exporters that have been created.
      operationId: listExporters
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                items:
                  example: '["exporter1", "exporter2"]'
                  type: string
                type: array
          description: Name of the exporter
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Gets all schema exporters.
      tags:
      - Exporters (v1)
    post:
      description: Creates a new schema exporter. All attributes in request body are
        optional except config.
      operationId: registerExporter
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ExporterReference'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ExporterReference'
          application/json:
            schema:
              $ref: '#/components/schemas/ExporterReference'
        description: Schema
        required: true
      responses:
        "200":
          content:
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ExporterResponse'
          description: Schema successfully registered.
        "409":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Conflict. Error code 40950 – Missing or invalid exporter name
            \ Error code 40951 – Missing or invalid exporter config \ Error code 40952
            – Invalid exporter subjects \ Error code 40960 – Exporter already exists
            \ Error code 40964 – Too many exporters
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Creates a new schema exporter.
      tags:
      - Exporters (v1)
  /exporters/{name}:
    delete:
      description: Deletes the schema exporter.
      operationId: deleteExporter
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content.
        "404":
          content:
            application/json:
              example:
                error_code: 404
                message: account not found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Delete schema exporter by name.
      tags:
      - Exporters (v1)
    get:
      description: Retrieves the information of the schema exporter.
      operationId: getExporterInfoByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterReference'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40450 – Exporter not found
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Gets schema exporter by name.
      tags:
      - Exporters (v1)
    put:
      description: Updates the information or configurations of the schema exporter.
        All attributes in request body are optional.
      operationId: updateExporterInfo
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ExporterUpdateRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ExporterUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ExporterUpdateRequest'
        description: Exporter Update Request
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterResponse'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "409":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid. Error code 40952 – Invalid exporter subjects. Error
            code 40963 – Exporter not paused.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Update schema exporter by name.
      tags:
      - Exporters (v1)
  /exporters/{name}/status:
    get:
      description: Retrieves the status of the schema exporter.
      operationId: getExporterStatusByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterStatusResponse'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40450 – Exporter not found
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Gets schema exporter status by name.
      tags:
      - Exporters (v1)
  /exporters/{name}/config:
    get:
      description: Retrieves the config of the schema exporter.
      operationId: getExporterConfigByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterConfigResponse'
          description: The original request
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40450 – Exporter not found
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Gets schema exporter config by name.
      tags:
      - Exporters (v1)
    put:
      description: Retrieves the config of the schema exporter.
      operationId: updateExporterConfigByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ExporterConfigResponse'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ExporterConfigResponse'
          application/json:
            schema:
              $ref: '#/components/schemas/ExporterConfigResponse'
        description: Exporter Update Request
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterResponse'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "409":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid. Error code 40952 – Invalid exporter subjects. Error
            code 40963 – Exporter not paused.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Update schema exporter config by name.
      tags:
      - Exporters (v1)
  /exporters/{name}/pause:
    put:
      description: Pauses the state of the schema exporter.
      operationId: pauseExporterByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterResponse'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "409":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid. Error code 40952 – Invalid exporter subjects. Error
            code 40963 – Exporter not paused.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Pause schema exporter by name.
      tags:
      - Exporters (v1)
  /exporters/{name}/reset:
    put:
      description: Reset the state of the schema exporter.
      operationId: resetExporterByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterResponse'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40450 – Exporter not found
        "409":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid. Error code 40963 – Exporter not paused.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Reset schema exporter by name.
      tags:
      - Exporters (v1)
  /exporters/{name}/resume:
    put:
      description: Resume running of the schema exporter.
      operationId: resumeExporterByName
      parameters:
      - description: Name of the exporter
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ExporterResponse'
          description: The original request.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40450 indicates subject not found.
        "409":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid. Error code 40961 – Exporter already running.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error_code: 500
                message: Oops, something went wrong
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Resume schema exporter by name.
      tags:
      - Exporters (v1)
  /contexts:
    get:
      description: Retrieves a list of contexts.
      operationId: listContexts
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                items:
                  example: "."
                  type: string
                type: array
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                items:
                  example: "."
                  type: string
                type: array
            application/json; qs=0.5:
              schema:
                items:
                  example: "."
                  type: string
                type: array
          description: The contexts.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: 'Internal Server Error. Error code 50001 indicates a failure
            in the backend data store. '
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: List contexts
      tags:
      - Contexts (v1)
  /mode/{subject}:
    delete:
      description: Deletes the specified subject-level mode and reverts to the global
        default.
      operationId: deleteSubjectMode
      parameters:
      - description: Name of the subject
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/Mode'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/Mode'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/Mode'
          description: Operation succeeded. Returns old mode.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Delete subject mode
      tags:
      - Modes (v1)
    get:
      description: Retrieves the subject mode.
      operationId: getMode
      parameters:
      - description: Name of the subject
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return the global mode if subject mode not found
        explode: true
        in: query
        name: defaultToGlobal
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/Mode'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/Mode'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/Mode'
          description: The subject mode.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40401 indicates subject not found.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get subject mode
      tags:
      - Modes (v1)
    put:
      description: Update mode for the specified subject. On success, echoes the original
        request back to the client.
      operationId: updateMode
      parameters:
      - description: Name of the subject
        explode: false
        in: path
        name: subject
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to force update if setting mode to IMPORT and schemas
          currently exist
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
        description: Update Request
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ModeUpdateRequest'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ModeUpdateRequest'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ModeUpdateRequest'
          description: The original request.
        "422":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unprocessable Entity. Error code 42204 indicates an invalid
            mode. Error code 42205 indicates operation not permitted.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store. Error code 50003 indicates a failure forwarding
            the request to the primary. Error code 50004 indicates unknown leader.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Update subject mode
      tags:
      - Modes (v1)
  /mode:
    get:
      description: Retrieves global mode.
      operationId: getTopLevelMode
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/Mode'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/Mode'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/Mode'
          description: The global mode
        "500":
          description: Error code 50001 -- Error in the backend data store
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get global mode
      tags:
      - Modes (v1)
    put:
      description: Update global mode. On success, echoes the original request back
        to the client.
      operationId: updateTopLevelMode
      parameters:
      - description: Whether to force update if setting mode to IMPORT and schemas
          currently exist
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
          application/vnd.schemaregistry+json:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/ModeUpdateRequest'
        description: Update Request
        required: true
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ModeUpdateRequest'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ModeUpdateRequest'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ModeUpdateRequest'
          description: The original request.
        "422":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unprocessable Entity. Error code 42204 indicates an invalid
            mode. Error code 42205 indicates operation not permitted.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store. Error code 50003 indicates a failure forwarding
            the request to the primary. Error code 50004 indicates unknown leader.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Update global mode
      tags:
      - Modes (v1)
  /schemas/ids/{id}:
    get:
      description: Retrieves the schema string identified by the input ID.
      operationId: getSchema
      parameters:
      - description: Globally unique identifier of the schema
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Name of the subject
        explode: true
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      - description: Desired output format, dependent on schema type
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Whether to fetch the maximum schema identifier that exists
        explode: true
        in: query
        name: fetchMaxId
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/SchemaString'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/SchemaString'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/SchemaString'
          description: The schema string.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40403 indicates schema not found.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get schema string by ID
      tags:
      - Schemas (v1)
  /schemas/ids/{id}/schema:
    get:
      description: Retrieves the schema identified by the input ID.
      operationId: getSchemaOnly
      parameters:
      - description: Globally unique identifier of the schema
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Name of the subject
        explode: true
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      - description: Desired output format, dependent on schema type
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                example: '{"schema": "{"type": "string"}"}'
                type: string
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                example: '{"schema": "{"type": "string"}"}'
                type: string
            application/json; qs=0.5:
              schema:
                example: '{"schema": "{"type": "string"}"}'
                type: string
          description: Raw schema string.
        "404":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found. Error code 40403 indicates schema not found.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: Get schema by ID
      tags:
      - Schemas (v1)
  /schemas/types:
    get:
      description: Retrieve the schema types supported by this registry.
      operationId: getSchemaTypes
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                items:
                  example: AVRO
                  type: string
                type: array
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                items:
                  example: AVRO
                  type: string
                type: array
            application/json; qs=0.5:
              schema:
                items:
                  example: AVRO
                  type: string
                type: array
          description: List of supported schema types.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                error_code: 401
                message: Unauthorized
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                error_code: 403
                message: Forbidden
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "429":
          description: Rate Limit Exceeded
          headers:
            Retry-After:
              description: The number of seconds to wait until the rate limit window
                resets. Only sent when the rate limit is reached.
              explode: false
              schema:
                type: integer
              style: simple
      security:
      - resource-api-key: []
      - external-access-token: []
      summary: List supported schema types
      tags:
      - Schemas (v1)
  /schemas:
    get:
      description: Get the schemas matching the specified parameters.
      operationId: getSchemas
      parameters:
      - description: Filters results by the respective subject prefix
        explode: true
        in: query
        name: subjectPrefix
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Whether to return soft deleted schemas
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Whether to return latest schema versions only for each matching
          subject
        explode: true
        in: query
        name: latestOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Pagination offset for results
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Pagination size for results. Ignored if negative
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: -1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                items:
                  $ref: '#/components/schemas/Schema'
                type: array
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                items:
                  $ref: '#/components/schemas/Schema'
                type: array
            application/json; qs=0.5:
              schema:
                items:
                  $ref: '#/components/schemas/Schema'
                type: array
          description: List of schemas matching the specified parameters.
        "500":
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            application/json; qs=0.5:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. Error code 50001 indicates a failure
            in the backend data store.
        "400":
          content:
            application/json:
              example:
                error_code: 400
                message: Bad Request
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
[...]
