// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
Service Quota API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.0.1-alpha0
Contact: api-framework-team@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type AppliedQuotasServiceQuotaV2Api interface {

	/*
		GetServiceQuotaV2AppliedQuota Read an Applied Quota

		[![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Service Quota v2](https://img.shields.io/badge/-Request%20Access%20To%20Service%20Quota%20v2-%23bc8540)](mailto:ccloud-api-access+service-quota-v2-early-access@confluent.io?subject=Request%20to%20join%20service-quota/v2%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20service-quota/v2%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

	Make a request to read an applied quota.

		 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		 @param id The unique identifier for the applied quota.
		 @return ApiGetServiceQuotaV2AppliedQuotaRequest
	*/
	GetServiceQuotaV2AppliedQuota(ctx _context.Context, id string) ApiGetServiceQuotaV2AppliedQuotaRequest

	// GetServiceQuotaV2AppliedQuotaExecute executes the request
	//  @return ServiceQuotaV2AppliedQuota
	GetServiceQuotaV2AppliedQuotaExecute(r ApiGetServiceQuotaV2AppliedQuotaRequest) (ServiceQuotaV2AppliedQuota, *_nethttp.Response, error)

	/*
		ListServiceQuotaV2AppliedQuotas List of Applied Quotas

		[![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Service Quota v2](https://img.shields.io/badge/-Request%20Access%20To%20Service%20Quota%20v2-%23bc8540)](mailto:ccloud-api-access+service-quota-v2-early-access@confluent.io?subject=Request%20to%20join%20service-quota/v2%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20service-quota/v2%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

	Retrieve a sorted, filtered, paginated list of all applied quotas.

	Shows all quotas for a given scope.


		 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		 @return ApiListServiceQuotaV2AppliedQuotasRequest
	*/
	ListServiceQuotaV2AppliedQuotas(ctx _context.Context) ApiListServiceQuotaV2AppliedQuotasRequest

	// ListServiceQuotaV2AppliedQuotasExecute executes the request
	//  @return ServiceQuotaV2AppliedQuotaList
	ListServiceQuotaV2AppliedQuotasExecute(r ApiListServiceQuotaV2AppliedQuotasRequest) (ServiceQuotaV2AppliedQuotaList, *_nethttp.Response, error)
}

// AppliedQuotasServiceQuotaV2ApiService AppliedQuotasServiceQuotaV2Api service
type AppliedQuotasServiceQuotaV2ApiService service

type ApiGetServiceQuotaV2AppliedQuotaRequest struct {
	ctx          _context.Context
	ApiService   AppliedQuotasServiceQuotaV2Api
	id           string
	environment  *string
	network      *string
	kafkaCluster *string
}

// The environment ID the quota is associated with. This field is only required when retrieving a single quota and the scope of quota is \&quot;ENVIRONMENT\&quot; or \&quot;NETWORK\&quot; or \&quot;KAFKA_CLUSTER\&quot;.
func (r ApiGetServiceQuotaV2AppliedQuotaRequest) Environment(environment string) ApiGetServiceQuotaV2AppliedQuotaRequest {
	r.environment = &environment
	return r
}

// The network ID the quota is associated with. This field is only required when retrieving a single quota and the scope of quota is \&quot;NETWORK\&quot;.
func (r ApiGetServiceQuotaV2AppliedQuotaRequest) Network(network string) ApiGetServiceQuotaV2AppliedQuotaRequest {
	r.network = &network
	return r
}

// The kafka cluster ID the quota is associated with. This field is required only when the scope of quota is \&quot;KAFKA_CLUSTER\&quot;.
func (r ApiGetServiceQuotaV2AppliedQuotaRequest) KafkaCluster(kafkaCluster string) ApiGetServiceQuotaV2AppliedQuotaRequest {
	r.kafkaCluster = &kafkaCluster
	return r
}

func (r ApiGetServiceQuotaV2AppliedQuotaRequest) Execute() (ServiceQuotaV2AppliedQuota, *_nethttp.Response, error) {
	return r.ApiService.GetServiceQuotaV2AppliedQuotaExecute(r)
}

/*
GetServiceQuotaV2AppliedQuota Read an Applied Quota

[![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Service Quota v2](https://img.shields.io/badge/-Request%20Access%20To%20Service%20Quota%20v2-%23bc8540)](mailto:ccloud-api-access+service-quota-v2-early-access@confluent.io?subject=Request%20to%20join%20service-quota/v2%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20service-quota/v2%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

Make a request to read an applied quota.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The unique identifier for the applied quota.
 @return ApiGetServiceQuotaV2AppliedQuotaRequest
*/
func (a *AppliedQuotasServiceQuotaV2ApiService) GetServiceQuotaV2AppliedQuota(ctx _context.Context, id string) ApiGetServiceQuotaV2AppliedQuotaRequest {
	return ApiGetServiceQuotaV2AppliedQuotaRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//  @return ServiceQuotaV2AppliedQuota
func (a *AppliedQuotasServiceQuotaV2ApiService) GetServiceQuotaV2AppliedQuotaExecute(r ApiGetServiceQuotaV2AppliedQuotaRequest) (ServiceQuotaV2AppliedQuota, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ServiceQuotaV2AppliedQuota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppliedQuotasServiceQuotaV2ApiService.GetServiceQuotaV2AppliedQuota")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service-quota/v2/applied-quotas/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.environment != nil {
		localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	}
	if r.network != nil {
		localVarQueryParams.Add("network", parameterToString(*r.network, ""))
	}
	if r.kafkaCluster != nil {
		localVarQueryParams.Add("kafka_cluster", parameterToString(*r.kafkaCluster, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListServiceQuotaV2AppliedQuotasRequest struct {
	ctx          _context.Context
	ApiService   AppliedQuotasServiceQuotaV2Api
	scope        *string
	environment  *string
	network      *string
	kafkaCluster *string
	quotaCode    *string
	pageSize     *int32
	pageToken    *string
}

// The applied scope the quota belongs to.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) Scope(scope string) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.scope = &scope
	return r
}

// The environment ID the quota is associated with.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) Environment(environment string) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.environment = &environment
	return r
}

// The network ID the quota is associated with.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) Network(network string) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.network = &network
	return r
}

// The kafka cluster ID the quota is associated with.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) KafkaCluster(kafkaCluster string) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.kafkaCluster = &kafkaCluster
	return r
}

// The quota code that this quota belongs to.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) QuotaCode(quotaCode string) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.quotaCode = &quotaCode
	return r
}

// A pagination size for collection requests.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) PageSize(pageSize int32) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.pageSize = &pageSize
	return r
}

// An opaque pagination token for collection requests.
func (r ApiListServiceQuotaV2AppliedQuotasRequest) PageToken(pageToken string) ApiListServiceQuotaV2AppliedQuotasRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiListServiceQuotaV2AppliedQuotasRequest) Execute() (ServiceQuotaV2AppliedQuotaList, *_nethttp.Response, error) {
	return r.ApiService.ListServiceQuotaV2AppliedQuotasExecute(r)
}

/*
ListServiceQuotaV2AppliedQuotas List of Applied Quotas

[![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Request Access To Service Quota v2](https://img.shields.io/badge/-Request%20Access%20To%20Service%20Quota%20v2-%23bc8540)](mailto:ccloud-api-access+service-quota-v2-early-access@confluent.io?subject=Request%20to%20join%20service-quota/v2%20API%20Early%20Access&body=I%E2%80%99d%20like%20to%20join%20the%20Confluent%20Cloud%20API%20Early%20Access%20for%20service-quota/v2%20to%20provide%20early%20feedback%21%20My%20Cloud%20Organization%20ID%20is%20%3Cretrieve%20from%20https%3A//confluent.cloud/settings/billing/payment%3E.)

Retrieve a sorted, filtered, paginated list of all applied quotas.

Shows all quotas for a given scope.


 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListServiceQuotaV2AppliedQuotasRequest
*/
func (a *AppliedQuotasServiceQuotaV2ApiService) ListServiceQuotaV2AppliedQuotas(ctx _context.Context) ApiListServiceQuotaV2AppliedQuotasRequest {
	return ApiListServiceQuotaV2AppliedQuotasRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return ServiceQuotaV2AppliedQuotaList
func (a *AppliedQuotasServiceQuotaV2ApiService) ListServiceQuotaV2AppliedQuotasExecute(r ApiListServiceQuotaV2AppliedQuotasRequest) (ServiceQuotaV2AppliedQuotaList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ServiceQuotaV2AppliedQuotaList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppliedQuotasServiceQuotaV2ApiService.ListServiceQuotaV2AppliedQuotas")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service-quota/v2/applied-quotas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.scope == nil {
		return localVarReturnValue, nil, reportError("scope is required and must be specified")
	}

	localVarQueryParams.Add("scope", parameterToString(*r.scope, ""))
	if r.environment != nil {
		localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	}
	if r.network != nil {
		localVarQueryParams.Add("network", parameterToString(*r.network, ""))
	}
	if r.kafkaCluster != nil {
		localVarQueryParams.Add("kafka_cluster", parameterToString(*r.kafkaCluster, ""))
	}
	if r.quotaCode != nil {
		localVarQueryParams.Add("quota_code", parameterToString(*r.quotaCode, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.pageToken != nil {
		localVarQueryParams.Add("page_token", parameterToString(*r.pageToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
